<div class="grid mx-0">
    <div class="col-12">
        <div class="card p-0">
            <div class="flex justify-content-between mb-3 pt-2">
                <div class="flex">
                    <h5 class="title-info">Danh sách sản phẩm</h5>
                    <!-- <div *ngIf="distributionInfo?.status == ProductDistributionConst.KHOI_TAO"> -->
                    <span class="p-float-label b-custom b-ml-5">
                        <p-dropdown id="statusFilter" name="statusFilter" [style]="{ width: '12rem' }"
                            [showClear]="true" placeholder="Tất cả" [options]="ProductConst.statusListProduct" optionLabel="name"
                            optionValue="code" [(ngModel)]="status"
                            (onChange)="changeFilter($event.value)">
                        </p-dropdown>
                        <label class="font-normal" for="statusFilter">Trạng thái</label>
                    </span>
                </div>

                <div>
                    <p-button 
                        *ngIf="isGranted([PermissionRealStateConst.RealStatePhanPhoi_DSSP_Xoa])"
                        [disabled]="selectedItems?.length == 0" styleClass="p-button custom-button p-button-danger mr-2"
                        label="Xóa SP" icon="pi pi-times" (click)="delete()">
                    </p-button>
                    <!--  -->
                    <p-button 
                        *ngIf="isGranted([PermissionRealStateConst.RealStatePhanPhoi_DSSP_ThemMoi])"
                        styleClass="p-button custom-button" label="Thêm sản phẩm" icon="pi pi-plus"
                        (click)="create($event)">
                    </p-button>
                </div>
            </div>
            <p-table 
                [value]="rows" [columns]="selectedColumns" [loading]="isLoading" dataKey="id" [(selection)]="selectedItems"
                [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" responsiveLayout="scroll" [resizableColumns]="false" [scrollable]="true"
                (onPageChange)="setPage($event)" [scrollHeight]="screenHeight * 0.46 + 'px'" styleClass="custom-table" sortMode="multiple" (onSort)="onSort($event)" [customSort]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="b-col-actions b-border-frozen-left" pFrozenColumn alignFrozen="left" pFrozenColumn alignFrozen="left"> 
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="Id" style="max-width: 7rem; min-width: 7rem;" pFrozenColumn alignFrozen="left">ID<p-sortIcon field="Id"></p-sortIcon></th>
                                <ng-container *ngFor="let col of columns">
                                    <th  *ngIf="col.fieldSort" pSortableColumn="{{col.fieldSort}}"  [ngStyle]="{'max-width': !col?.isResize ? col?.width : '', 'min-width': col?.width}" [ngClass]="col.class">
                                        {{ col.header }} <p-sortIcon *ngIf="col.fieldSort" field="{{col.fieldSort}}"></p-sortIcon>
                                    </th>
                                    <th *ngIf="!col.fieldSort" [ngStyle]="{'max-width': !col?.isResize ? col?.width : '', 'min-width': col?.width}" [ngClass]="col.class">
                                        {{ col.header }} <p-sortIcon *ngIf="col.fieldSort" field="{{col.fieldSort}}"></p-sortIcon>
                                    </th>
                                </ng-container>
                                <th class="b-col-status b-border-frozen-right" pFrozenColumn alignFrozen="right" [frozen]="true">
                                    Trạng thái
                                </th>
                                <th class="b-col-actions b-table-actions" pFrozenColumn alignFrozen="right" [frozen]="true">
                                    <i class="pi pi-cog" (click)="setColumn(headerColumns, selectedColumns)"></i>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td class="b-col-actions b-border-frozen-left" pFrozenColumn alignFrozen="left">
                                    <p-tableCheckbox [value]="row"></p-tableCheckbox>
                                </td>
                                <td style="max-width: 7rem; min-width: 7rem;" pFrozenColumn alignFrozen="left" [frozen]="true">
                                    {{ row?.id }}
                                </td>
                                <td *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isResize ? col?.width : '', 'min-width': col?.width}" [ngClass]="col.class">
                                    <!-- <div [ngClass]="col.cutText" [title]="row[col.field]">
                                        {{ row.dataDisplay[col.field] }}
                                    </div> -->
                                    <div *ngIf="col.field !== '_productItemLock'  && col.field !== '_distributionLock'" [ngClass]="col?.cutText">
                                        {{ row?.dataDisplay[col.field] }}
                                    </div>
                                    <div *ngIf="col.field === '_productItemLock'">
                                        <p-checkbox [(ngModel)]="row._productItemLock" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                                    </div>
                                    <div *ngIf="col.field === '_distributionLock'">
                                        <p-checkbox [(ngModel)]="row._distributionLock" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                                    </div>
                                    
                                </td>
                                <td class="b-col-status b-border-frozen-right" pFrozenColumn alignFrozen="right" [frozen]="true">
                                    <p-tag 
                                        *ngIf="!row._isLockDeactive"
                                        styleClass="p-tag-{{ ProductConst.getStatusListProduct(row?.productItemStatus, 'severity') }}"
                                        severity="{{ ProductConst.getStatusListProduct(row?.productItemStatus, 'severity') }}"
                                        value="{{ ProductConst.getStatusListProduct(row?.productItemStatus) }}">
                                    </p-tag>
                                    <p-tag 
                                        *ngIf="row._isLockDeactive" 
                                        styleClass="p-tag-secondary" severity="secondary" value="Khóa căn">
                                    </p-tag>
                                </td>
                                <td class="b-col-actions b-table-actions" pFrozenColumn alignFrozen="right" [frozen]="true">
                                    <div class="flex">
                                        <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                                        <p-menu 
                                            #menu [popup]="true" class="button-actions" [model]="listAction[rowIndex]"
                                            appendTo="body">
                                        </p-menu>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">Không có dữ liệu.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="7">Đang tải dữ liệu ...</td>
                            </tr>
                        </ng-template>
            </p-table>
            <p-paginator 
                [rows]="page.pageSize" [totalRecords]="page.totalItems"
                [rowsPerPageOptions]="page.perPageOptions" currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng"
                showCurrentPageReport="true" (onPageChange)="setPage($event)">
            </p-paginator>
        </div>
    </div>
</div>