<e-loading *ngIf="isLoading"></e-loading>
<div class="">
    <div class="grid form-detail">
        <div class="col-12">
            <div class="card pt-0 pb-0 mb-0">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">
                        <label class="title-info"> Ngày rút vốn <span class="required-field"> * </span></label>
                        <p-calendar 
                            class="ml-2" showIcon="true" [showTime]="true"
                            dateFormat="dd/mm/yy" locale="vi" appendTo="body"
                            [(ngModel)]="drawdownRequest.withdrawalDate" [placeholder]="'dd/mm/yyyy'">
                        </p-calendar>
                    </div>
                </div>
                <!--  -->
                <div class="p-fluid p-formgrid grid mt-1">
                    <div class="field col-12 md:col-6">
                        <label class="title-info"> 
                            Số tiền rút <span class="required-field"> * </span>
                        </label>
                        <p-inputNumber 
                            class="custom-input-disabled" mode="decimal"
                            [max]="orderDetail.totalValue"
                            (onInput)="changeValue($event.value)"
                            [(ngModel)]="drawdownRequest.amountMoney"
                            placeholder="Nhập số tiền rút..."
                            locale="de-DE">
                        </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="title-info"> 
                            Khoảng tiền rút
                        </label>
                        <p-dropdown 
                            appendTo="body"
                            optionLabel="name" optionValue="code"
                            [options]="OrderConst.WITHDRAWAL_VALUES"
                            (onChange)="changeWithdrawalValue($event.value)"
                            [autoDisplayFirst]="true" [(ngModel)]="drawdownRequest.withdrawalValue">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-dialog-footer e-custom-dialog-footer">
        <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
        <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text p-confirm-dialog-approve" [disabled]="submitted" (click)="save()"></button>
    </div>
</div>