::ng-deep .b-upload-logo-company-share-info {
    .p-fileupload-buttonbar {
        .p-button {
            padding: 0.4375rem 0.65625rem;
            margin-right: 0px;
            .p-button-label {
                font-size: 0.875rem;
            }
        }
    }
}