<div class="px-2">
  <div class="card p-0 mb-0">
    <div class="flex justify-content-between flex-wrap card-container purple-container mb-4">
        <h5 class="title-info">Danh sách file sơ đồ thiết kế</h5>
        <p-button
          styleClass="p-button custom-button"
          label="Thêm mới"
          icon="pi pi-plus"
          (click)="create($event)"
        >
        </p-button>
    </div>
    <p-table 
        [value]="rows" [columns]="_selectedColumns" [loading]="isLoading" [rowHover]="true"
        [paginator]="false" [resizableColumns]="false" responsiveLayout="scroll" [scrollable]="true"
        [scrollHeight]="getTableHeight(rows?.length ? rows.length*13 : 15)" styleClass="custom-table">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="min-width: 5rem; max-width: 5rem" pFrozenColumn [frozen]="true"
                    class="b-border-frozen-left" alignFrozen="left">
                    #ID
                </th>
                <th *ngFor="let col of columns" [ngStyle]="{'min-width': col.width}"
                    [ngClass]="col.class" [pTooltip]="col.pTooltip" [tooltipPosition]="col.tooltipPosition">
                    {{ col.header }} &nbsp;
                </th>
                <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn
                    alignFrozen="right" [frozen]="true" class="b-table-actions" pFrozenColumn
                    alignFrozen="right" [frozen]="true">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
            <tr>
                <td style="min-width: 5rem; max-width: 5rem" pFrozenColumn [frozen]="true"
                    class="b-border-frozen-left" alignFrozen="left">
                    {{ row.id }}
                </td>
                <td *ngFor="let col of columns" [ngStyle]="{'min-width': col?.width}"
                    [ngClass]="col.class">
                    {{ row[col.field]}}
                </td>
                <td style="min-width: 3rem; max-width: 3rem; justify-content: center" pFrozenColumn
                    alignFrozen="right" [frozen]="true">
                    <div class="flex">
                        <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                        <p-menu #menu [popup]="true" class="button-actions" [model]="listAction[rowIndex]"
                            appendTo="body"></p-menu>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Không có dữ liệu.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="7">Đang tải dữ liệu ...</td>
            </tr>
        </ng-template>
    </p-table>

</div>
  <div
    class="flex justify-content-between flex-wrap card-container purple-container mb-4"
  >
    <h5 class="title-info mb-0 ml-0">Mô tả sơ đồ thiết kế cho căn hộ</h5>
    <div *ngIf="this.isGranted([this.PermissionRealStateConst.RealStateMenuProjectListDetail_SoDoTK_CapNhat])">
      <p-button
        *ngIf="!isEdit"
        styleClass="p-button custom-button"
        label="Chỉnh sửa"
        icon="pi pi-pencil"
        (click)="isEdit = true"
      >
      </p-button>
      <p-button
        *ngIf="isEdit"
        styleClass="p-button custom-button"
        label="Lưu lại"
        icon="pi pi-save"
        (click)="save($event)"
      >
      </p-button>
    </div>
  </div>
  <div class="p-fluid p-formgrid grid">
    <!-- <div class="b-w-100 col-12">
      <p-selectButton
        optionValue="value"
        optionLabel="name"
        class="mb-2 mt-2"
        [options]="htmlMarkdownOptions"
        [(ngModel)]="dataSource.designDiagramContentType"
        [disabled]="!isEdit"
      ></p-selectButton>
    </div>
    <div class="flex b-w-100">
      <div
        class="field {{
          dataSource.designDiagramContentType === MARKDOWN_OPTIONS.MARKDOWN
            ? 'col-6'
            : 'col-12'
        }}"
      >
        <label>Nhập thông tin</label>
        <div
          *ngIf="dataSource.designDiagramContentType === MARKDOWN_OPTIONS.MARKDOWN"
        >
          <textarea
            #myTextArea
            (click)="getCaretPos(myTextArea)"
            (keyup)="getCaretPos(myTextArea)"
            pInputTextarea
            [rows]="23"
            [(ngModel)]="dataSource.designDiagramContent"
            placeholder="Nhập nội dung mô tả"
            class="custom-input"
            [disabled]="!isEdit"
          ></textarea>
          <div style="width: 150px">
            <button pButton pRipple type="button"
              [disabled]="!isEdit"
              (click)="insertImage()"
              class="p-button-secondary"
              label="Chèn ảnh"
              icon="pi pi-image"
              iconPos="left"
            >
            </button>
          </div>
        </div>

        <div *ngIf="dataSource.designDiagramContentType === MARKDOWN_OPTIONS.HTML">
          <angular-editor
            [(ngModel)]="dataSource.designDiagramContent"
            class="custom-input"
            [placeholder]="'Nhập nội dung'"
            [config]="{ height: '30rem', sanitize: false, editable: true }"
            [disabled]="!isEdit"
          >
          </angular-editor>
        </div>
      </div>
      <div
        *ngIf="dataSource.designDiagramContentType === MARKDOWN_OPTIONS.MARKDOWN"
        class="field col-6"
      >
        <label>Hiển thị</label>
        <markdown class="border-box" style="height: 30rem;" [data]="displayContent"> </markdown>
      </div>
    </div> -->

    <e-markdown-html
      [title]="'Mô tả'"
      [(contentType)]="dataSource.designDiagramContentType"
      [(content)]="dataSource.designDiagramContent"
      [disabled]="!isEdit"
    >
  </e-markdown-html> 
  </div>
</div>
