<p-toast></p-toast>
<p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
<div  *ngIf="isGranted([PermissionGarnerConst.GarnerPPSP_ChinhSach_DanhSach])" class="grid ml-0 mr-0 mt-0">
    <div class="col-12 p-0">
        <div class="card p-0">
            <p-table  
                #distributionPolicyTable 
                [value]="rows"
                [columns]="_selectedColumns"
                [loading]="isLoading" [rowHover]="true" [paginator]="false" 
                [resizableColumns]="false" [scrollable]="true" [scrollHeight]="getTableHeight()" styleClass="custom-table">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="flex justify-content-between flex-column sm:flex-row"></div>
                            <div>
                                <button 
                                    *ngIf="isGranted([PermissionGarnerConst.GarnerPPSP_ChinhSach_ThemMoi])"
                                    pButton pRipple label="Thêm chính sách" icon="pi pi-plus" 
                                    class="p-button-success mr-2" (click)="create()">
                                </button>
                            </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" [frozen]="true" class="b-border-frozen-left"> #ID </th>
                        <th *ngFor="let col of columns" [ngStyle]="{'max-width': col.width, 'min-width': col.width}" [ngClass]="col.class" [pTooltip]="col.pTooltip" [tooltipPosition]="col.tooltipPosition">
                            {{ col.header }} &nbsp; 
                        </th> 
                        <th style="max-width: 8rem; min-width: 8rem; justify-content: center;"> Show App </th>
                        <th></th>
                        <th style="max-width: 7rem; min-width: 7rem; justify-content: left;"> Trạng thái </th>
                        <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right b-table-actions">
                            <i class="pi pi-cog" (click)="setColumn(cols, _selectedColumns)"></i>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-index="rowIndex"
                    let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" [frozen]="true" class="b-border-frozen-left"> {{ row.id }} </td>
                        <td *ngFor="let col of columns" [ngStyle]="{'max-width': col.width, 'min-width': col?.width}" [ngClass]="col.class">
                            {{ row[col.field]}} 
                        </td>
                        <td style="max-width: 8rem; min-width: 8rem; justify-content: center;">
                            <p-checkbox [(ngModel)]="row.isShowApp" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                        </td>
                        <td></td>
                        <td style="max-width: 7rem; min-width: 7rem; justify-content:left;"> 
                            <p-tag 
                                styleClass="p-tag-{{ ActiveDeactiveConst.getInfo(row.status, 'severity') }}" 
                                severity="{{ ActiveDeactiveConst.getInfo(row.status, 'severity') }}" 
                                value="{{ ActiveDeactiveConst.getInfo(row.status) }}">
                            </p-tag> 
                        </td>
                        <td style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class=" b-border-frozen-right b-table-actions">
                            <div class="flex">
                                <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                                <p-menu 
                                    #menu [popup]="true" class="button-actions" [model]="listAction[rowIndex]"
                                    appendTo="body">
                                </p-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

