<div [style.height.px]="0">
    <p-image [src]="src" alt="Image" width="0" [preview]="true" #pImage (onHide)="src=''"></p-image>
</div>
<!--  -->
<div #eTable [@animationRefresh] *ngIf="isShowTable">
    <e-loading *ngIf="isLoading"></e-loading>
    <div #wrapperETable (scroll)="onScroll($event)" [style]="{ height: !isHeightAuto ? (scrollHeight || scrollHeightConst)+'px' : 'auto'}" class="wrapper-e-table" id="wrapper-e-table">
        <p-table
            styleClass="{{ class }} custom-table {{ isRowOdds && 'row-odds' }}"
            [value]="rows"  
            [(selection)]="selectedItems"
            [reorderableColumns]="reorderableColumns"
            [rowHover]="rowHover" 
            [responsiveLayout]="responsiveLayout" 
            [dataKey]="dataKey"
            [showCurrentPageReport]="showCurrentPageReport" 
            [paginator]="paginator" 
            [scrollable]="scrollable" 
            [scrollHeight]="'auto'"
            (onRowSelect)="onSelectedChange()"
            (onRowUnselect)="onSelectedChange()"
            (onHeaderCheckboxToggle)="onSelectedChange()"
            [sortMode]="'multiple'"
            (onSort)="onSort($event)"
            [customSort]="true"
        >
            <ng-template pTemplate="caption">
                <div #tableCaption>
                    <ng-content select="[tableCaption]"></ng-content>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let col of columnShows">
                        <th [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col?.isSort" pFrozenColumn [alignFrozen]="col?.alignFrozen" [frozen]="col?.isFrozen" 
                        [ngStyle]="getStyleColumn(col)" [ngClass]="col?.class" [title]="col?.title || ''">
                            <ng-container>
                                <!-- COLUMN CHECKBOX -->
                                <ng-container *ngIf="[TableConst.columnTypes.CHECKBOX_ACTION, TableConst.columnTypes.CHECKBOX_SHOW].includes(col?.type) && !col?.header">
                                    <p-tableHeaderCheckbox [disabled]="col.type === TableConst.columnTypes.CHECKBOX_SHOW"></p-tableHeaderCheckbox> 
                                </ng-container>
                                <!-- COLUMN TEXT -->
                                <ng-container *ngIf="col?.type === TableConst.columnTypes.TEXT || col?.header">
                                    <span> {{col.header}} </span>
                                    <p-sortIcon field="{{ col.field }}" *ngIf="col.isSort"></p-sortIcon> 
                                </ng-container>
                                <!-- COLUMN ACTION -->
                                <ng-container *ngIf="col?.type == TableConst.columnTypes.ACTION_DROPDOWN && !col?.header">
                                    <i *ngIf="isShowIconFilter"  
                                        class="{{ isShowFilter ? 'pi pi-filter-slash' : 'pi pi-filter' }} b-icon-filter-setting"
                                        [title]="isShowFilter ? 'Ẩn bộ lọc' : 'Hiện bộ lọc'" 
                                        (click)="changeDisplayFilter()">
                                    </i>
                                    <i class="pi pi-cog b-hover-pointer" (click)="setColumn()"></i>
                                </ng-container>  
                            </ng-container>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr [pReorderableRow]="rowIndex" [id]="'row-'+rowIndex">
                    <ng-container *ngFor="let col of columnShows">
                        <td pFrozenColumn [ngStyle]="getStyleColumn(col)" [ngClass]="col?.class" [alignFrozen]="col?.alignFrozen" [frozen]="col?.isFrozen">
                            <!-- COLUMN TEXT -->
                            <div [ngClass]="col?.cutText" [title]="row[col?.field]" *ngIf="col?.type === TableConst.columnTypes.TEXT">
                                <span [innerHTML]="row[col?.field]"></span>
                            </div>
                            <!-- COLUMN REORDER -->
                            <ng-container *ngIf="TableConst.columnTypes.REORDER === col?.type" #REORDER>
                                <span class="pi pi-bars" pReorderableRowHandle></span>
                            </ng-container>
                            <!-- COLUMN CHECKBOX -->
                            <ng-container #CHEKBOX>
                                <p-tableCheckbox 
                                    *ngIf="TableConst.columnTypes.CHECKBOX_ACTION === col?.type" 
                                    [value]="row" (onChange)="onRowSelect(row)">
                                </p-tableCheckbox>
                                <!--  -->
                                <e-checkbox-single
                                    *ngIf="TableConst.columnTypes.CHECKBOX_SHOW === col?.type" 
                                    [(value)]="row[col?.field]" [readonly]="true">
                                </e-checkbox-single>
                            </ng-container>
                            <!-- IMAGE -->
                            <ng-container *ngIf="col?.type == TableConst.columnTypes.IMAGE" #IMAGE>
                                <div (click)="showImage(baseUrl+'/'+row[col?.field])" [style.cursor]="'pointer'">
                                    <p-image *ngIf="row[col?.field] && !row.isVideo" [src]="baseUrl+'/'+row[col?.field]" alt="Image" width="50"></p-image>
                                </div>
                                <p-image 
                                    *ngIf="row[col?.field] && row.isVideo == true"
                                    src="assets/file_template/videoTemplate.png" 
                                    alt="Image" width="50">
                                </p-image>
                            </ng-container>
                            <!-- COLUMN DATE OR DATE_TIME -->
                            <ng-container #DATE>
                                <span *ngIf="col?.type === TableConst.columnTypes.DATE"> {{ row[col.field] | dateview }} </span>
                                <span *ngIf="col?.type === TableConst.columnTypes.DATETIME"> {{ row[col.field] | datetimeview }} </span>
                            </ng-container>
                            <!-- COLUMN CURRENCY -->
                            <ng-container #DISPLAYTEXT>
                                <span *ngIf="col?.type === TableConst.columnTypes.CONVERT_DISPLAY"> 
                                    {{ row[col.field+'Display'] }}
                                </span>
                            </ng-container>
                            <!-- COLUMN CURRENCY -->
                            <ng-container #CURRENCY>
                                <span *ngIf="col?.type === TableConst.columnTypes.CURRENCY"> 
                                    {{ row[col.field] | currencyEpic }}{{ (col?.unit || row[col?.field + 'Unit'] || '') }} 
                                </span>
                            </ng-container>
                            <!-- COLUMN STATUS -->
                            <ng-container *ngIf="col?.type == TableConst.columnTypes.STATUS" #STATUS>
                                <p-tag
                                    styleClass="p-tag-{{ row[col.field+'Element']?.severity }}" 
                                    severity="{{ row[col.field+'Element']?.severity }}" 
                                    value="{{ row[col.field+'Element']?.name }}">
                                </p-tag> 
                            </ng-container>
                            <!-- COLUMN ICON -->
                            <ng-container *ngIf="col?.type == TableConst.columnTypes.ACTION_ICON && col?.isPermission" #ICON>
                                <i [class]="col?.icon + ' b-icon b-hover-pointer'" (click)="row[col.field](row)"></i>
                            </ng-container>
                            <!-- COLUMN BUTTON -->
                            <ng-container *ngIf="col?.type == TableConst.columnTypes.ACTION_BUTTON && col?.isPermission" #BUTTON>
                                <p-button 
                                    [icon]="col.icon"
                                    [lable]="col?.label" 
                                    [styleClass]="'b-hover-pointer p-button-rounded ' + col?.classButton" 
                                    (click)="row[col.field](row)">
                                </p-button>
                            </ng-container>
                            <!-- COLUMN MULTIPLE ACTION -->
                            <ng-container #DROPDOWN>
                                <div class="flex b-hover-pointer" *ngIf="col?.type == TableConst.columnTypes.ACTION_DROPDOWN">
                                    <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                                    <p-menu
                                        #menu [popup]="true"class="button-actions"
                                        [model]="listAction[rowIndex]" appendTo="body"
                                        >
                                    </p-menu>
                                </div>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" [style.background]="'#F7F9FF'" class="b-empty-data">
                        Không có dữ liệu. 
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loading-data">
                <tr class="loading-data">
                    <td colspan="7"> Đang tải dữ liệu ... </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-container [ngTemplateOutlet]="paginatorCustom" *ngIf="isShowPaginator"></ng-container>
    <ng-template #paginatorCustom>
        <div #wrapperPaginator>
            <p-paginator #paginatorEl 
                [rows]="page.pageSize"
                [totalRecords]="page.totalItems" 
                [rowsPerPageOptions]="page.perPageOptions" 
                currentPageReportTemplate="Hiển thị {{ rows.length }} / {{ page.totalItems }} dòng"
                [showCurrentPageReport]="true"
                [styleClass]="styleClassPaginator"
                (onPageChange)="setPage($event)">
            </p-paginator>
        </div>
    </ng-template>
</div>

   