@{
    ViewData["Title"] = "Xác minh thành công";
    Layout = "";
}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title>
        Xác minh email thành công
    </title>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <!--[if mso]>
    <noscript>
    <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    </noscript>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
      .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->


    <style type="text/css">
        @@media only screen and (min-width:480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }

            .mj-column-per-30 {
                width: 30% !important;
                max-width: 30%;
            }

            .mj-column-per-50 {
                width: 50% !important;
                max-width: 50%;
            }

            .mj-column-per-20 {
                width: 20% !important;
                max-width: 20%;
            }
        }
    </style>
    <style media="screen and (min-width:480px)">
        .moz-text-html .mj-column-per-100 {
            width: 100% !important;
            max-width: 100%;
        }

        .moz-text-html .mj-column-per-30 {
            width: 30% !important;
            max-width: 30%;
        }

        .moz-text-html .mj-column-per-50 {
            width: 50% !important;
            max-width: 50%;
        }

        .moz-text-html .mj-column-per-20 {
            width: 20% !important;
            max-width: 20%;
        }
    </style>


    <style type="text/css">



        @@media only screen and (max-width:480px) {
            table.mj-full-width-mobile {
                width: 100% !important;
            }

            td.mj-full-width-mobile {
                width: auto !important;
            }
        }
    </style>
    <style type="text/css">
        @@media (max-width: 639px) {
            .height-60-mobile {
                height: 60px !important;
            }

            .mobile-text-center {
                text-align: center;
            }

            .mobile-mr-20px {
                margin-right: 20px;
            }

            .mobile-mb-20px {
                margin-bottom: 20px;
            }
        }</style>

</head>
<body style="word-spacing:normal;">


    <div style>

        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
                <tr>
                    <td>


                        <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->


                        <div style="margin:0px auto;max-width:600px">

                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                                            <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]-->

                                            <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align:top;padding:0px;">

                                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style width="100%">
                                                                    <tbody>

                                                                        <tr>
                                                                            <td align="center" style="font-size:0px;padding:0px;word-break:break-word;">

                                                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width:600px;">

                                                                                                <img alt height="auto" src="https://s7506923.sendpul.se/image/747991a0e145ac2bbe69f063a9402e69/files/emailservice/userfiles/f96d1e995d51081089f0a8155996a9cf7506923/E0702_Ai-01.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="600">

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                            <!--[if mso | IE]></td></tr></table><![endif]-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                        <!--[if mso | IE]></td></tr></table><![endif]-->


                    </td>
                </tr>
            </tbody>
        </table>


        <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->


        <div style="margin:0px auto;max-width:600px">

            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:30px 25px 20px 25px;text-align:center;">
                            <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" width="600px" ><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:550px;" width="550" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->


                            <div style="margin:0px auto;max-width:550px;margin-top:-50px">

                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                                                <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:550px;" ><![endif]-->

                                                <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align:top;padding:0px;">

                                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style width="100%">
                                                                        <tbody>

                                                                            <tr>
                                                                                <td align="left" style="font-size:0px;padding:0px;padding-right:0;padding-left:0;word-break:break-word;">

                                                                                    <div style="font-family:SFProText, Raleway, Arial;font-size:13px;line-height:150%;text-align:left;color:#333333;">
                                                                                        <p class="u-fz-16px u-color-blue ta-justify" style="font-size: 16px; color: #353282; text-align: justify;"> <strong> Chúc mừng Quý khách! </strong> </p>
                                                                                        <!--<p class="u-fz-14px u-color-blue mb-25px ta-justify" style="font-size: 14px; color: #353282; margin-bottom: 25px; text-align: justify;"> <strong> <em> Dear [SHORT_NAME_E] [CustomerName],  </em> </strong> </p>
                                                                                            -->
                                                                                        <div>
                                                                                            <p class="u-fz-16px ta-justify" style="font-size: 16px; text-align: justify;">
                                                                                                Thông tin email của Quý khách đã được xác thực. Epic Center sẽ thực hiện gửi các email thông báo, đầu tư, các chương trình ưu đãi về địa chỉ email này.

                                                                                            </p>
                                                                                            <p class="u-fz-16px ta-justify" style="font-size: 16px; text-align: justify;">
                                                                                                Chúc Quý khách có những trải nghiệm đầu tư thú vị tại hệ thống Epic Center.

                                                                                            </p>
                                                                                            <!-- <p class="u-fz-14px mb-25px ta-justify" style="font-size: 14px; margin-bottom: 25px; text-align: justify;"> <em>KSFinance is pleased to inform that you have successfully transferred the investment amount through KSFinance's system with details as below: </em> </p>
                                                                                               -->
                                                                                        </div>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>

                                                <!--[if mso | IE]></td></tr></table><![endif]-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                            <!--[if mso | IE]></td></tr></table></td></tr><tr><td class="" width="600px" ><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:550px;" width="550" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><v:rect style="width:550px;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false"><v:fill origin="0.5, 0" position="0.5, 0" src="https://email.sunshinehomes.vn/images/email-bg-2.png" type="tile" /><v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0"><![endif]-->

                            <div style="background:url('') center center / auto no-repeat;background-position:center center;background-repeat:no-repeat;background-size:auto;margin:0px auto;border-radius:4px;max-width:550px;">
                                <div style="line-height:0;font-size:0;">
                                    <table align="center" background="" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:url('') center center / auto no-repeat;background-position:center center;background-repeat:no-repeat;background-size:auto;width:100%;border-radius:4px;">
                                    </table>
                                </div>
                            </div>

                            <!--[if mso | IE]></v:textbox></v:rect></td></tr></table></td></tr><tr><td class="" width="600px" ><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:550px;" width="550" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->


                            <div style="margin:0px auto;max-width:550px;">

                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="direction:ltr;font-size:0px;text-align:center;">
                                                <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:550px;" ><![endif]-->

                                                <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align:top;padding:0px;">

                                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style width="100%">
                                                                        <tbody>

                                                                            <tr>
                                                                                <td align="left" style="font-size:0px;padding:0px;padding-right:0;padding-left:0;word-break:break-word;">

                                                                                    <div style="font-family:SFProText, Raleway, Arial;font-size:13px;line-height:150%;text-align:left;color:#333333;">
                                                                                        <div>

                                                                                            <p class="u-fz-16px ta-justify" style="font-size: 16px; text-align: justify;">
                                                                                                Mọi thông tin cần hỗ trợ, Quý khách vui lòng liên hệ: email <strong>services@epicgroup.vn</strong>
                                                                                                hoặc số điện thoại hotline <strong> 18006085</strong>.
                                                                                            </p>
                                                                                            <!--<p class="u-fz-14px mb-30px ta-justify" style="font-size: 14px; margin-bottom: 30px; text-align: justify;">
                                                                                              <em> If you need more information, please contact us via email <strong>[Email]</strong> or hotline <strong>[HotLine]</strong> for support and answers </em>
                                                                                            </p> -->
                                                                                        </div>
                                                                                        <div class="u-color-blue u-fw-600" style="font-weight: 600; color: #353282;">
                                                                                            <p class="u-fz-16px" style="font-size: 16px;"> Trân trọng, </p>
                                                                                            <!-- <p class="u-fz-14px mb-25px" style="font-size: 14px; margin-bottom: 25px;"> <em> Best regards, </em> </p>-->
                                                                                            <p class="u-fz-16px" style="font-size: 16px;"> EPIC Group </p>
                                                                                        </div>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bg-gradient-blue footer-section" style="margin: 0px auto; max-width: 600px">
            <div style="position:relative;margin-top:-50px">
                <img alt="" src="https://s7506923.sendpul.se/image/747991a0e145ac2bbe69f063a9402e69/files/emailservice/userfiles/f96d1e995d51081089f0a8155996a9cf7506923/E0702_Ai-02.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="600">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                    <tbody style='position:absolute;margin-top:-35%;margin-left:10%'>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:5px 0px 0px 25px;text-align:center;">

                                <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:contents;vertical-align:top;width:100%;">

                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px;">

                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style width="100%">
                                                        <tbody>

                                                            <!--<tr>
                                                                      <td align="left" style="font-size:0px;padding:0px;padding-right:0;padding-left:0;word-break:break-word;">

                                                                          <div style="font-family:SFProText, Raleway, Arial;font-size:13px;line-height:150%;text-align:left;color:#333333;">
                                                                              <div class="footer-pdt mobile-text-center mobile-mb-15px" style="padding-top: 7px;">
                                                                                  <tr>
                                                                                      <td>
                                                                                  <a href="http://google.com" target="_blank" class="mobile-mr-20px">
                                                                                    <img src="https://email.sunshinehomes.vn/images/cta-app.png" style="margin-right: 15px;margin-bottom:5px">
                                                                                  </a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                      <td>
                                                                                      <a href="http://google.com" target="_blank">
                                                                                          <img src="https://email.sunshinehomes.vn/images/cta-gg.png">
                                                                                      </a>
                                                                                      </td>
                                                                                  </tr>


                                                                              </div>
                                                                          </div>
                                                                      </td>

                                                              </tbody>
                                                            </table>

                                                                  </td>
                                                                </tr> -->
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>



                                <div class="mj-column-per-20 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px;">

                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style width="100%">
                                                        <tbody>

                                                            <tr>
                                                                <td align="right" style="font-size:0px;padding:0px;padding-right:0;padding-left:0;word-break:break-word;">

                                                                    <!--<div style="font-family:SFProText, Raleway, Arial;font-size:13px;line-height:150%;text-align:right;color:#333333;"><div class="footer-pdt mobile-text-center" style="padding-top: 7px;">
                                                                        <a href="http://google.com" target="_blank" class="mobile-mr-20px">
                                                                          <img src="https://email.sunshinehomes.vn/images/icon-glob.png" style="margin-right: 5px">
                                                                        </a>
                                                                        <a href="http://google.com" target="_blank">
                                                                          <img src="https://email.sunshinehomes.vn/images/icon-fb.png">
                                                                        </a>
                                                                      </div>
                                                                     </div>-->

                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

