<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 px-0 d-flex align-items-center ">
                    <span class="mb-0 h3 pr-1 " style="color: #172b4d;"> {{ titlePage }} </span>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-md-5 pl-0 d-flex align-items-end">
                    <button class="btn btn-sm btn-primary" (click)="create()">
                        <i class="mdi mdi-plus-circle mr-1"></i>
                        Thêm mẫu hợp đồng
                    </button>
                </div>

                <div class="col-md-7 d-flex justify-content-end pr-0">
                    <div style="min-width: 200px">
                        <ng-select [(ngModel)]="contractTypeId" name="contractTypeId"
                        (change)="changeContractType()"
                        placeholder="Chọn loại hợp đồng"
                        [closeOnSelect]="false"
                        [notFoundText]="'Không có dữ liệu'"
                        [multiple]="false" [clearable]="true">
                        <ng-option *ngFor="let item of contractTypes" [value]="item.id">{{ item.name }}</ng-option>
                        <!-- <ng-template ng-header-tmp>
                            <div class="wrapper-select-all" style="padding-top: 5px;">
                                <input type="checkbox" [(ngModel)]="isChecked" (change)="checkSelectAll(isChecked ? true : false)" id="select-all"/>
                                <label for="select-all" style="padding: 0px 10px;"> Chọn tất cả </label><br>
                            </div>
                        </ng-template> -->
                        </ng-select>
                    </div>
                    <div class="input-group input-search">
                        <input type="text" class="form-control form-control-sm border-radius-default ml-2" name="keyword"
                            [placeholder]="'Tìm kiếm...'" [(ngModel)]="keyword" (keyup)="changeKeyword()"
                            (keyup.enter)="setPage({ offset: offset })"/>
                        <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button" (click)="setPage({ offset: offset })">
                            <i class="icon-magnifier"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>

          <div class="row">
            <div class="col-md-12 px-0">
                <ngx-datatable class="ngx-datatable-custom frozen-right"
                #contractTemplateTypeTable
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [footerHeight]="42" [rowHeight]="50"
                [headerHeight]="50" [footerHeight]="42"
                [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
                [externalPaging]="true" [count]="page.totalItems" [offset]="page.pageNumber" [limit]="page.pageSize"
                [messages]="datatableMessage"
                (page)="setPage($event)" [busy]="isLoading">

                    <ngx-datatable-column name="code" [width]="250" [sortable]="false" [resizeable]="false">
                        <ng-template let-column="column" ngx-datatable-header-template> Mã hợp đồng</ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="ml-8px">
                                {{ value }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="name" [width]="250" [sortable]="false" [resizeable]="false" frozenLeft="true">
                        <ng-template let-column="column" ngx-datatable-header-template> Tên hợp đồng </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div>
                                {{ value }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="contractTypeName" [width]="250" [sortable]="false" [resizeable]="false">
                        <ng-template let-column="column" ngx-datatable-header-template> Loại hợp đồng </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div>
                                {{ value }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="contractTempType" [width]="250" [sortable]="false" [resizeable]="false">
                        <ng-template let-column="column" ngx-datatable-header-template> Loại mẫu hợp đồng </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div>
                                {{ContractTemplateConst.getNameType(value)}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="contractTempUrl" [width]="250" [sortable]="false"  [resizeable]="false">
                        <ng-template let-column="column" ngx-datatable-header-template> File mẫu </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div>
                                <a (click)="dowloadFile(value)" style="cursor: pointer; color: blue;" href="javascript: void(0)">
                                    <span *ngIf="value">
                                        Tải file <i class="mdi mdi-download"></i>
                                    </span>
                                </a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- <ngx-datatable-column name="contractTempContent" [width]="250" [sortable]="false" [resizeable]="false">
                        <ng-template let-column="column" ngx-datatable-header-template> Nội dung HTML </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div>
                                {{ value }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column> -->

                    <ngx-datatable-column [width]="100" [sortable]="false" frozenRight="true" [resizeable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="dropdown" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                                <button dropdownToggle class="btn btn-action-table dropdown-toggle" type="button" id="dropdownMenu"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Thao tác
                                </button>
                                <div class="dropdown-menu table-dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenu">
                                    <span>
                                        <a class="dropdown-item dropdown-item-wrapper" (click)="edit(row.id)">
                                            <i class="fas fa-pencil-alt"></i> Sửa
                                        </a>
                                        <a class="dropdown-item dropdown-item-wrapper" (click)="delete(row)">
                                            <i class="fas fa-trash"></i>&nbsp; Xoá
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
