<e-loading *ngIf="isDownload"></e-loading>
<div class="e-page">
    <p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
    <!-- GIỮ CẤU TRÚC PAGE VÀ CÁC CLASS, ID -->
        <!-- PAGE HEADER CONTENT -->
        <!-- TABLE -->
    <!--  -->
    <div class="wrapper-page-header" id="page-header">
        <div class="b-header"> 
            <div class="grid">
                <div class="col-12 md:col-7 b-title">
                    <h4 style="display:inline"> Mẫu hợp đồng </h4>
                </div>
                <div class="col-12 md:col-5 b-actions">
                    <p-button 
                        *ngIf="isGranted([PermissionInvestConst.InvestMauHD_ThemMoi])" 
                        label="Thêm mới" icon="pi pi-plus" styleClass="p-button-success ml-2" 
                        (click)="create()">
                    </p-button>
                </div>
            </div>
        </div>
        <div id="filter-table">
            <ng-container *ngIf="dataTableEmit?.isShowFilter">
                <div class="flex wrapper-line-filter">
                    <div class="b-wr-20 wrapper-filter">
                        <input-search
                            [placeholder]="'Tìm kiếm...'"
                            [(keyword)]="dataFiler.keyword"
                            (_onChange)="setPage()">
                        </input-search>
                    </div>
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter" emptyMessage="Không có dữ liệu"
                                [showClear]="true" placeholder="Tất cả"
                                [options]="ContractFormConst.statuses" optionLabel="name" optionValue="code"
                                [(ngModel)]="dataFiler.status"
                                (onChange)="setPage()">
                                </p-dropdown>   
                            <label class="font-normal" for="dropdownStatus"> Trạng thái </label>
                        </span>
                    </div>
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter" emptyMessage="Không có dữ liệu"
                                [showClear]="true" placeholder="Tất cả"
                                [options]="SampleContractConst.contractSourceDistribution" optionLabel="name" optionValue="code"
                                [(ngModel)]="dataFiler.contractSource"
                                (onChange)="setPage()">
                                </p-dropdown>   
                            <label class="font-normal" for="dropdownStatus"> Kiểu hợp đồng </label>
                        </span>
                    </div>
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter" emptyMessage="Không có dữ liệu"
                                [showClear]="true" placeholder="Tất cả"
                                [options]="SampleContractConst.contractType" optionLabel="name" optionValue="code"
                                [(ngModel)]="dataFiler.contractType"
                                (onChange)="setPage()">
                                </p-dropdown>   
                            <label class="font-normal" for="dropdownStatus"> Loại hợp đồng </label>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <e-table
        [rows]="rows"
        [(page)]="page"
        [columns]="columns"
        [isLoading]="isLoading"
        [listAction]="listAction"
        [columnCacheName]="constructor.name"
        [(selectedItems)]="dataTableEmit.selectedItems"
        [(isShowFilter)]="dataTableEmit.isShowFilter"
        (_onPageChange)="setPage($event)"
        (_onSort)="onSort($event)">
    </e-table>

</div>
