<e-loading *ngIf="isLoading"></e-loading>
<div class="e-page">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
    <!-- GIỮ CẤU TRÚC PAGE VÀ CÁC CLASS, ID -->
        <!-- PAGE HEADER CONTENT -->
        <!-- TABLE -->
    <!--  -->
    <div class="wrapper-page-header" #pageHeader id="wrapper-page-header" id="page-header">
        <div class="b-header">
            <div class="grid">
                <div class="col-12 md:col-7 b-title">
                    <h4 style="display:inline"> Giao nhận hợp đồng </h4>
                </div>
                <div class="col-12 md:col-5 b-actions">
                    <p-button 
                        *ngIf="!isPartner" 
                        styleClass="mr-2 b-hover-pointer" label="Xuất hợp đồng" icon="pi pi-download" iconPos="right"
                        [disabled]="!dataTableEmit.selectedItems?.length"
                        (onClick)="exportContracts(dataTableEmit.selectedItems)">
                    </p-button>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="filter-table" id="filter-table">
            <ng-container *ngIf="dataTableEmit?.isShowFilter">
                <div class="flex wrapper-line-filter">
                    <div class="b-wr-20 wrapper-filter">
                        <input-search
                            [placeholder]="'Nhập mã hợp đồng...'"
                            [(keyword)]="dataFilter.contractCode"
                            (_onChange)="setPage()">
                        </input-search>
                    </div>
                    <!-- <div class="b-wr-15 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter" 
                                [autoDisplayFirst]="true" 
                                [options]="OrderConst.fieldFilters" name="searchField" optionLabel="name" optionValue="field"
                                [(ngModel)]="dataFilter.searchField" 
                                (onChange)="!!dataFilter.keyword?.trim() && setPage()">
                            </p-dropdown>
                            <label class="font-normal" for="searchField">Tìm kiếm theo</label>
                        </span>
                    </div> -->
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter"
                                [showClear]="true" placeholder="Tất cả" 
                                [options]="DeliveryContractConst.deliveryStatus" optionLabel="name" optionValue="code"
                                [(ngModel)]="dataFilter.deliveryStatus"    
                                (onChange)="setPage()">
                                </p-dropdown>   
                            <label class="font-normal" for="dropdownStatus">Trạng thái</label>
                        </span>
                    </div>
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter"
                                [showClear]="true" placeholder="Tất cả" 
                                [options]="OrderConst.sources" optionLabel="name" optionValue="code"
                                [(ngModel)]="dataFilter.source"
                                (onChange)="setPage()">
                                </p-dropdown>   
                            <label class="font-normal" for="dropdownStatus">Loại hình</label>
                        </span>
                    </div>
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-calendar
                                styleClass="input-filter"
                                placeholder="dd/mm/yyyy" appendTo="body" dateFormat="dd/mm/yy" 
                                [showButtonBar]="true" [showIcon]="true" [readonlyInput]="true" 
                                [(ngModel)]="dataFilter.date"
                                (onSelect)="!!$event && setPage()" 
                                (onClearClick)="setPage()">
                            </p-calendar>   
                            <label class="font-normal" for="dropdownStatus"> Chọn ngày </label>
                        </span>
                    </div>
                    <div class="b-wr-12 wrapper-filter">
                        <span class="p-float-label">
                            <p-dropdown
                                styleClass="input-filter"
                                [options]="DeliveryContractConst.fieldFilters" optionLabel="name" optionValue="field" 
                                [(ngModel)]="dataFilter.typeDate"  
                                (onChange)="!!dataFilter.date && setPage()">
                            </p-dropdown>
                            <label class="font-normal"> Tìm kiếm theo loại ngày </label>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <e-table
        [rows]="rows"
        [(page)]="page"
        [columns]="columns"
        [listAction]="listAction"
        [columnCacheName]="constructor.name"
        [(selectedItems)]="dataTableEmit.selectedItems"
        [(isShowFilter)]="dataTableEmit.isShowFilter"
        (_onPageChange)="setPage($event)"
        (_onSort)="dataFilter.sortFields=$event; setPage()">
    </e-table>
</div>

