<form class="form-horizontal" autocomplete="off" #createModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="title" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div  class="row">
            <div class="form-group required col-md-6">
                <label for="workingYear">Năm tài chính</label>
                <input type="text" class="form-control form-control-sm" name="workingYear" id="workingYear" required disabled="true"
                    [(ngModel)]="calendar.workingYear" #workingYearModel="ngModel" #workingYearEl />
                <abp-validation-summary [control]="workingYearModel" [controlEl]="workingYearEl"></abp-validation-summary>
            </div>
            <div class="form-group required col-md-6">
                <label for="workingDate">Ngày làm việc</label>
                <input type="text" placeholder="Ngày đăng ký CP" class="form-control form-control-sm" required
                bsDatepicker name="workingDate"
                (keypress)="disableKeypress($event)"
                (bsValueChange)="changeDatePicker('workingDate', $event)"
                [(ngModel)]="calendarDateDisplays.workingDate"
                [bsConfig]="{ isAnimated: false, dateInputFormat: 'DD-MM-YYYY' }"
                placement="right top"
                #workingDateModel="ngModel" #workingDateEl>
                <abp-validation-summary [control]="workingDateModel" [controlEl]="workingDateEl"></abp-validation-summary>
            </div>
            <div class="form-group required col-md-6">
                <label for="isDayOff">Là ngày nghỉ?</label>
                <ng-select type="text" name="isDayOff" id="isDayOff" [notFoundText]="'Không có dữ liệu'"
                    [(ngModel)]="calendar.isDayOff" [multiple]="false" [clearable]="false"
                    #isDayOffModel="ngModel" #isDayOffEl required>
                    <ng-option *ngFor="let item of statusYesNo" [value]="item.code">{{ item.name }}</ng-option>
                </ng-select>
                <abp-validation-summary [control]="isDayOffModel" [controlEl]="isDayOffEl"></abp-validation-summary>
            </div>
            <div class="form-group required col-md-6">
                <label for="busDate">Ngày hạch toán</label>
                <input type="text" placeholder="Ngày đăng ký CP" class="form-control form-control-sm"
                bsDatepicker name="busDate" id="busDate"
                (keypress)="disableKeypress($event)"
                (bsValueChange)="changeDatePicker('busDate', $event)"
                [(ngModel)]="calendarDateDisplays.busDate"
                [bsConfig]="{ isAnimated: false, dateInputFormat: 'DD-MM-YYYY' }"
                placement="right top"
                #busDateModel="ngModel" #busDateEl>
                <abp-validation-summary [control]="busDateModel" [controlEl]="busDateEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
