<app-loading-page *ngIf="isLoading"></app-loading-page>
<div class="grid p-fluid">
    <p-confirmDialog [style]="{ width: '400px' }" [baseZIndex]="10000"></p-confirmDialog>
  
    <ng-container>
        <!--  -->
        <ng-container *ngFor="let file of productItemFile.files; let i = index">
            <div class="col-12 md:col-4">
                <div class="field mb-0">
                    <label htmlFor="key">
                        Tên file <span class="required-field"> * </span>
                    </label>
                    <input 
                        type="text" id="name" name="name" pInputText 
                        [(ngModel)]="file.name" maxlength="256" required
                        placeholder="Nhập tiêu đề"
                    />
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="field mb-0">
                    <label htmlFor="value">
                        Tệp tin
                        <span class="required-field"> * </span>
                    </label>
                    <input 
                        [disabled]="true" class="custom-input-disabled"
                        type="text" id="name" name="name" pInputText 
                        [(ngModel)]="file.fileUrl" maxlength="256" 
                        placeholder="Link tệp tin"
                    />
                </div>
            </div>

            <div class="col-12 md:col-2 width-button">
                <div class="field mb-0 upload-file-form">
                    <label htmlFor=""> </label>
                    <p-fileUpload 
                        name="demo[]" accept=".pdf, .doc, .docx" [customUpload]="true" class="custom-file-upload b-w-100"
                        (uploadHandler)="myUploader($event, i)"
                        [auto]="true" chooseIcon="pi pi-cloud-upload"
                        chooseLabel="Tải lên"> 
                    </p-fileUpload>
                </div>
            </div>

            <div *ngIf="!isEdit" class="col-12 md:col-2 width-button">
                <div class="field mb-0 button-delete ">
                    <label htmlFor=""> </label>
                    <button
                        pButton pRipple label="Xóa" class="p-button-danger"
                        icon="pi pi-times"
                        (click)="deleteFile(i)">
                    </button>
                </div>
            </div>

            
        </ng-container>
        <!--  -->
        <div *ngIf="!isEdit" class="col-12 md:col-3">
            <button      
                pButton pRipple label="Thêm file" icon="pi pi-plus"
                class="p-button-success mr-2" (click)="addvalue()">
            </button>
        </div>
    </ng-container>
</div>
<div class="p-dialog-footer e-custom-dialog-footer">
    <button
        pButton pRipple label="Hủy" icon="pi pi-times"
        class="p-button-text p-confirm-dialog-reject"
        (click)="close($event)"
    ></button>
    <button
        pButton pRipple label="Lưu" icon="pi pi-check"
        class="p-button-text p-confirm-dialog-approve"
        (click)="save()"
    ></button>
</div>
