.button-fileUpload {
    display: inline-block;
    margin-bottom: 1.5rem;
}

.custom-toast .ui-toast {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.upload-file-form {
  padding-top: 0.5rem;
}

.button-delete {
  margin-top: 1.75rem;
}

::ng-deep .p-fileupload-buttonbar {
  margin: 0 10px;
}