.border-radius-8 {
  border-radius: 8px;
}
:host ::ng-deep {
  .table-dashboard {
    th {
      border-width: 1px !important;
      border-right: 0px !important;
      &:last-child {
        border-right: 1px solid #dee2e6 !important;
      }
    }
    tr {
      td {
        border-width: 1px !important;
        border-top: 0px !important;
        border-right: 0px !important;
        &:last-child {
          border-right: 1px solid #dee2e6 !important;
        }
      }
    }
  }
  .paginator-dashboard {
    border-top: 0px !important;
  }
}
