<div
  class="layout-wrapper h-full"
  (click)="onLayoutClick()"
  [ngClass]="{
    'layout-horizontal': app.horizontalMenu,
    'layout-wrapper-static': staticMenuActive,
    'layout-rightpanel-active': rightPanelActive,
    'layout-topbar-mobile-active': topbarMobileMenuActive,
    'layout-megamenu-mobile-active': megaMenuMobileActive,
    'layout-sidebar-mobile-active': menuMobileActive,
    'p-input-filled': app.inputStyle === 'filled',
    'p-ripple-disabled': !app.ripple
  }"
  [class]="app.menuColor"
>
  <p-toast></p-toast>
  <!--  -->
  <app-menu></app-menu>
  <div class="layout-main h-full">
    <app-topbar></app-topbar>
    <app-breadcrumb></app-breadcrumb>
    <!--  -->
    <div class="layout-content custom-layout" [style.height]="'calc(100% - 46px)'">
      <router-outlet></router-outlet>
    </div>
    <!--  -->
    <div class="layout-main-mask"></div>
    <!--  -->
    <div class="layout-config-mask" *ngIf="configActive" [@mask-anim]="'visible'"></div>
  </div>
</div>
