<div class="col-12" style="padding-bottom: 70px">
  <div class="card p-0 mb-0">
    <div class="p-fluid p-formgrid grid">
      <div class="flex w-full">
        <div class="col-6">
          <form-dropdown
            [label]="'Chọn lý do tạm dừng sự kiện'"
            [options]="listReason"
            [(ngModelValue)]="dto.reason"
          ></form-dropdown>
        </div>
      </div>
      <div class="flex w-full">
        <div class="col-12">
          <form-textarea
            [label]="'Nhập nội dung mô tả'"
            [rows]="2"
            [(ngModelValue)]="dto.description"
            [placeholder]="'Nhập nội dung mô tả'"
          ></form-textarea>
        </div>
      </div>
      <div class="flex w-full">
        <div class="col-6">
          <form-input [label]="'Người tạo yêu cầu'" [(ngModelValue)]="dto.createUser" [isDisabled]="true"></form-input>
        </div>
        <div class="col-6">
          <form-input-calendar
            [label]="'Ngày tạo yêu cầu'"
            [(ngModelValue)]="dto.createDate"
            [isDisabled]="true"
            [placeholder]="'dd/mm/yy'"
            [showIcon]="false"
          ></form-input-calendar>
        </div>
      </div>
    </div>
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0">
      <form-button
        [isTypeRipple]="true"
        [classButton]="'p-button-text p-confirm-dialog-reject'"
        [label]="'Hủy'"
        [icon]="'pi pi-times'"
        (_onClick)="close($event)"
      ></form-button>
      <form-button
        [isTypeRipple]="true"
        [classButton]="'p-button-text p-confirm-dialog-approve'"
        [label]="'Lưu'"
        [icon]="'pi pi-check'"
        (_onClick)="save($event)"
      ></form-button>
    </div>
  </div>
</div>
