

<div>
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
    <div [id]="idHeader" #pageHeader>
        <div class="col-12 pb-3 pt-5">
            <div class="card p-fluid p-0">
                <div class="p-fluid p-formgrid grid">
                    <div class="col b-count-price " >
                        <div class="b-count-icon">
                        <img src="../../../../../assets/layout/images/money.png" alt="">
                        </div>
                        <div style="margin-left: 16px;">
                            <p class="p-count-price" >{{ utils.transformMoney(orderDetail.initTotalValue) || 0  }}</p>
                            <p> Số tiền đầu tư </p>
                        </div>  
                    </div>
                    <div class=" col b-count-price">
                        <div class="b-count-icon">
                        <img src="../../../../../assets/layout/images/moneybag.png" alt="">
    
                        </div>
                        <div style="margin-left: 16px;" >
                            <p class="p-count-price" >{{ utils.transformMoney(sumValuePaymentSuccess()) || 0 }}</p>
                            <p > Số tiền đã thanh toán </p>
                        </div>  
                    </div>
                    <div class="col b-count-price " >
                        <div class="b-count-icon">
                        <img src="../../../../../assets/layout/images/moneyfalling.png" alt="">
    
                        </div>
                        <div style="margin-left: 16px;">
                            <p class="p-count-price" >{{ utils.transformMoney(differenceMoney) || 0 }}</p>
                            <p > Số tiền chênh lệch </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <e-table
        [rows]="rows"
        [(page)]="page"
        [columns]="columns"
        [isLoading]="isLoading"
        [listAction]="listAction"
        [tabContentHeight]="contentHeight"
        [idHeader]="idHeader"
        [columnCacheName]="constructor.name"
        [isShowIconFilter]="false"
        (_onPageChange)="setPage($event)">
    </e-table>
    <!--  -->
    <p-dialog [(visible)]="modalDialog" [style]="{width: '1000px'}" [header]="'Thông tin thanh toán'" [modal]="true" class="p-fluid" [maximizable]="true">
        <ng-template pTemplate="content">
            <div class="card pt-0 {{ isLoadingModal ? 'b-loading' : '' }}">
                <div class="grid formgrid">
                    <!-- Lô trái phiếu -->
                    <ng-container>
                        <div class="col-12 md:col-12 title-group-input">
                            <h6> Thông tin thanh toán </h6>
                        </div>
                        <div class="col-12 md:col-4" *ngIf="orderPayment?.id">
                            <div class="field">
                                <label htmlFor="orderId"> Mã giao dịch </label>
                                <input class="p-component custom-input-disabled" [disabled]="true" pInputText value="{{ orderPayment?.id }}"/>
                            </div>
                        </div>
                        <div class="col-12 md:col-{{ orderPayment?.id ? 4 : 8 }}">
                            <div class="field">
                                <label htmlFor="tranClassify"> Loại giao dịch </label>
                                <p-dropdown
                                    class="custom-input-disabled"
                                    optionValue="code" name="name" optionLabel="name" appendTo="body"
                                    [options]="OrderPaymentConst.tranClassifies" 
                                    [(ngModel)]="orderPayment.tranClassify"
                                    [autoDisplayFirst]="true" [disabled]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="field">
                                <label htmlFor="orderId"> Ngày giao dịch <span class="required-field"> * </span></label>
                                <p-calendar
                                        class="custom-input-disabled" appendTo="body" panelStyleClass="b-trandate"
                                        inputId="tranDate" dateFormat="dd/mm/yy" locale="vi" utc="true" placeholder="dd/mm/yyyy"
                                        [(ngModel)]="orderPayment.tranDate"
                                        [showIcon]="true" [showTime]="true" [disabled]="true">
                                </p-calendar>
                            </div>
                        </div>
    
                        <div class="col-12 md:col-4">
                            <div class="field">
                                <label htmlFor="tranType"> Kiểu giao dịch </label>
                                <p-dropdown
                                    class="custom-input-disabled" appendTo="body"
                                    [options]="OrderPaymentConst.transactionTypes" optionValue="code" name="name" optionLabel="name" 
                                    [(ngModel)]="orderPayment.tranType" 
                                    [autoDisplayFirst]="true" [disabled]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 md:col-4">
                            <div class="field">
                                <label htmlFor="paymentType"> Loại thanh toán <span class="required-field"> * </span> </label>
                                <p-dropdown
                                    class="custom-input-disabled" appendTo="body"
                                    optionValue="code" name="name" optionLabel="name" 
                                    [options]="OrderPaymentConst.paymentTypes" [autoDisplayFirst]="true"
                                    [(ngModel)]="orderPayment.paymentType" 
                                    [disabled]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="field">
                                <label htmlFor="paymentAmnount"> Số tiền <span class="required-field"> * </span> </label>
                                <p-inputNumber
                                    class="custom-input-disabled" 
                                    name="paymentAmnount" 
                                    [(ngModel)]="orderPayment.paymentAmnount" mode="decimal"
                                    [disabled]="true"
                                    locale="de-DE">
                                </p-inputNumber>
                            </div>
                        </div>
    
                        <div class="field b-field col-12 md:col-12">
                            <label htmlFor="quantity">
                                Tài khoản thụ hưởng <span class="required-field"> * </span>
                            </label>
                            <p-dropdown  
                                [disabled]="true"
                                *ngIf="!orderDetail?.tradingProviderBank?.businessCustomerBankAccId"
                                class="custom-input-disabled" appendTo="body"
                                optionValue="businessCustomerBankAccId" 
                                name="tradingBankAccId" optionLabel="labelName"
                                [options]="listBanks" [autoDisplayFirst]="true"
                                [(ngModel)]="orderPayment.tradingBankAccId">
                            </p-dropdown>
                            <input 
                                *ngIf="orderDetail?.tradingProviderBank?.businessCustomerBankAccId"
                                [disabled]="true" pInputText 
                                value="{{ paymentAccountTradingProvider }}" 
                                class="custom-input-disabled p-component"
                            />
    
                        </div>
                        <div class="col-12 md:col-12">
                            <div class="field">
                                <label htmlFor="description"> Mô tả </label>
                                <textarea pInputTextarea [(ngModel)]="orderPayment.description" [disabled]="true" class="custom-input-disabled"></textarea>
                            </div>
                        </div>
    
                    </ng-container>
                    <ng-container>
                        <div class="col-12 md:col-12 title-group-input">
                            <h6> Người dùng </h6>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="field">
                                <label htmlFor="code"> Người tạo </label>
                                <input pInputText [(ngModel)]="orderPayment.createdBy" [disabled]="true" class="custom-input-disabled p-component"/>
                            </div>
                        </div>
                        <div class="col-12 md:col-2">
                            <div class="field">
                                <label htmlFor="name"> Ngày tạo </label>
                                <input pInputText [value]="formatDateTime(orderPayment.createdDate)" [disabled]="true" class="custom-input-disabled"/>
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="field">
                                <label htmlFor="name"> Người duyệt </label>
                                <input pInputText [disabled]="true" [(ngModel)]="orderPayment.approveBy" class="custom-input-disabled p-component"/>
                            </div>
                        </div>
                        <div class="col-12 md:col-2">
                            <div class="field">
                                <label htmlFor="name"> Ngày duyệt </label>
                                <input pInputText [value]="formatDateTime(orderPayment.approveDate)" [disabled]="true" class="custom-input-disabled"/>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>
