<e-loading *ngIf="isLoading"></e-loading>
<div class="grid p-fluid">
    
    <ng-container>
        <ng-container>
            <div class="col-12 md:col-6">
                <div class="field mb-0">
                    <label htmlFor="SampleContractConst"> Kiểu hợp đồng <span class="required-field"> * </span></label>
                    <p-dropdown 
                        optionLabel="name" optionValue="code" appendTo="body"
                        class="b-disabled" [autoDisplayFirst]="false"
                        [options]="SampleContractConst.contractSource"
                        [(ngModel)]="contractDistributionTemplate.contractSource" (onChange)="changeContractSource($event.value)">
                    </p-dropdown>
                </div>
            </div>
            
            <div class="col-12 md:col-6" *ngIf="!configDialog?.data?.contractDistributionTemplate">
                <label htmlFor="isFeatured">Chọn hợp đồng có sẵn</label>
                <div class="mt-1">
                    <p-inputSwitch (onChange)="changeChooseContract(contractDistributionTemplate.chooseContract)" [(ngModel)]="contractDistributionTemplate.chooseContract"></p-inputSwitch>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="field mb-0">
                    <label htmlFor="SampleContractConst"> Chọn hợp đồng <span *ngIf="contractDistributionTemplate?.chooseContract" class="required-field"> * </span></label>
                    <p-multiSelect
                        optionLabel="labelName" optionValue="id" appendTo="body"
                        class="b-disabled" 
                        [disabled]="!contractDistributionTemplate.chooseContract"
                        [options]="contractTemplates"
                        [(ngModel)]="contractDistributionTemplate.contractTemplateTempIds"
                        (onChange)="changeContractTemplateTemp($event.value)"
                        >
                    </p-multiSelect>
                </div>
            </div>
            <div class="col-12 md:col-6" *ngIf="!configDialog?.data?.contractDistributionTemplate">
                <div class="field mb-0">
                    <label Class="title-info">
                        Số loại hợp đồng tải lên <span *ngIf="!contractDistributionTemplate?.chooseContract" class="required-field"> * </span>
                    </label>
                    <p-inputNumber
                        [(ngModel)]="contractDistributionTemplate.quantity"
                        placeholder="Nhập số loại hợp đồng"
                        [ngClass]="'custom-input b-disabled'"
                        [disabled]="contractDistributionTemplate.chooseContract"
                        suffix=" loại hợp đồng"
                        (onInput)="changeQuantity($event.value)">
                    </p-inputNumber>
                </div>
            </div>
                <ng-container  *ngFor="let distributionPolicyContractUpload of distributionPolicyContractUploads; let i = index">
    
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="contractType">
                                Loại hợp đồng <span class="required-field"> * </span>
                                ( <i class="pi pi-trash b-icon-trash" (click)="removeElement(i)" title="Xóa giá trị"></i> )
                            </label>
                            <p-dropdown 
                                optionLabel="name" optionValue="code" appendTo="body" 
                                class="custom-input-disabled"
                                [options]="DistributionContractTemplateConst.contractTypeList"
                                [(ngModel)]="distributionPolicyContractUpload.contractType"
                                >
                            </p-dropdown>
                        </div>
                        
                    </div>
                    <div class="col-12 md:col-6" name="contractType{{i}}">
                        <div class="field">
                            <label>
                                Tên hợp đồng
                                <span class="required-field"> * </span>
                            </label>
                            <input 
                                type="text" pInputText  id="name" name="name"
                                [(ngModel)]="distributionPolicyContractUpload.distributionPolicyUploadName"
                            />
                        </div>
                    </div>
                    <div class="col-12 md:col-9">
                        <div class="field mb-0">
                            <label htmlFor="periodType"> File cá nhân<span class="required-field"> * </span></label>
                            <input type="text" id="fileInvestor" name="fileInvestor" disabled pInputText [value]="distributionPolicyContractUpload.investorFileDisplay || ''" class="b-disabled"/>
                        </div>
                    </div>
                    <div class="col-12 md:col-3" name="contractType{{i}}">
                        <div class="field mb-0 upload-file-form">
                            <label htmlFor=""> </label>
                            <p-fileUpload 
                                [customUpload]="true" class="custom-file-upload b-w-100"
                                name="demo[]" accept=".doc,.docx" 
                                chooseIcon="pi pi-cloud-upload" 
                                (uploadHandler)="onFileInputChange($event, i, true)"
                                [auto]="true"
                                chooseLabel="Chọn file upload">
                            </p-fileUpload>
                        </div>
                    </div>
                    <div class="col-12 md:col-9">
                        <div class="field mb-0">
                            <label htmlFor="periodType"> File doanh nghiệp<span class="required-field"> * </span></label>
                            <input type="text" id="fileInvestor" name="fileInvestor" disabled pInputText [value]="distributionPolicyContractUpload.businessCustomerFileDisplay || ''" class="b-disabled"/>
                        </div>
                    </div>
                    <div class="col-12 md:col-3" name="contractType{{i}}">
                        <div class="field mb-0 upload-file-form">
                            <label htmlFor=""> </label>
                            <p-fileUpload 
                                [customUpload]="true" class="custom-file-upload b-w-100"
                                name="demo[]" accept=".doc,.docx" 
                                chooseIcon="pi pi-cloud-upload" 
                                (uploadHandler)="onFileInputChange($event, i)"
                                [auto]="true"
                                chooseLabel="Chọn file upload">
                            </p-fileUpload>
                        </div>
                    </div>
                </ng-container>

            <div class="col-12 md:col-6" *ngIf="!contractDistributionTemplate?.id">
                <div class="field mb-0">
                    <label htmlFor="policyId"> Chọn chính sách <span class="required-field"> * </span></label>
                    <p-multiSelect
                        optionLabel="labelName" optionValue="id" appendTo="body"
                        [options]="policies" 
                        [(ngModel)]="contractDistributionTemplate.policyIds">
                    </p-multiSelect>
                </div>
            </div>
            <!--  -->
            <div class="col-12 md:col-6" *ngIf="contractDistributionTemplate?.id">
                <div class="field mb-0">
                    <label htmlFor="policyId"> Chọn chính sách <span class="required-field"> * </span></label>
                    <p-dropdown 
                        optionLabel="labelName" optionValue="id" appendTo="body"
                        class="b-disabled" [autoDisplayFirst]="false"
                        [disabled]="true"
                        [options]="policies"
                        [(ngModel)]="contractDistributionTemplate.policyId">
                    </p-dropdown>
                </div>
            </div>
            <!--  -->
            <div class="col-12 md:col-6">
                <div class="field mb-0">
                    <label htmlFor="configContractId"> Chọn cấu trúc mã <span class="required-field"> * </span></label>
                    <p-dropdown 
                        optionLabel="name" optionValue="id" appendTo="body"
                        class="b-disabled" [autoDisplayFirst]="false"
                        [options]="contractCodeTemps"
                        [(ngModel)]="contractDistributionTemplate.configContractId">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="field mb-0">
                    <label htmlFor="displayType"> Loại hiện thị <span class="required-field"> * </span></label>
                    <p-dropdown 
                        optionLabel="name" optionValue="code" appendTo="body"
                        class="b-disabled" [autoDisplayFirst]="false"
                        [options]="DistributionContractTemplateConst.displayType"
                        [(ngModel)]="contractDistributionTemplate.displayType">
                    </p-dropdown>
                </div>
            </div>

            <div class="col-12 md:col-6">
                <div class="field mb-0">
                    <label htmlFor="startDate">Ngày hiệu lực <span class="required-field"> * </span></label>
                    <p-calendar 
                        inputId="startDate" dateFormat="dd/mm/yy" locale="vi" 
                        appendTo="body" utc="true" placeholder="dd/mm/yyyy"
                        [(ngModel)]="contractDistributionTemplate.startDate"		
                        styleClass="w-full" inputId="startDate"
                        [showIcon]="true" >
                    </p-calendar>
                </div>
            </div>
            <!--  -->
            <div class="col-12 md:col-12">
                <div class="field mb-0">
                    <label htmlFor="startDate"> Mô tả hợp đồng </label>
                    <textarea disabled value="{{ contractTemplateChoose?.description }}" pInputText class="b-disabled"></textarea>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<div class="p-dialog-footer e-custom-dialog-footer" >
    <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
    <button 
        pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text p-confirm-dialog-approve" (click)="save()">
    </button>
</div>

         