<div class="grid ml-0 mr-0 mt-0 h-full">
  <div class="col-12 h-full px-4">
    <div #divHeader class="flex b-header justify-content-between">
      <div class="b-title">
        <h4>Xử lý giao dịch</h4>
      </div>
    </div>
    <form-table
      [style.height]="'calc(100% - ' + divHeader.getBoundingClientRect().height + 'px)'"
      class="block auto-height-form-table"
      [columns]="selectedColumns"
      [dataSource]="dataSource"
      [isLoading]="isLoading"
      [scrollHeight]="'calc(100% - 2rem - ' + divFilter.getBoundingClientRect().height + 'px)'"
      [listAction]="listAction"
      [(page)]="page"
      (_changePage)="changePage($event)"
      (_setColumn)="setColumn($event)"
    >
      <ng-container filter>
        <div #divFilter class="flex flex-column sm:flex-row w-full">
          <form-input
            class="col-2 pl-0"
            [floatLabel]="true"
            [placeholder]="'Nhập tên sự kiện/ SĐT khách hàng'"
            [label]="'Tìm kiếm'"
            [(ngModelValue)]="filter.keyword"
            (_onChange)="changeFilter($event)"
          ></form-input>
          <form-multi-select
            class="col-2"
            [label]="'Sự kiện'"
            [floatLabel]="true"
            [options]="listEvent"
            [(ngModelValue)]="filter.event"
            (_onChange)="changeFilter($event)"
          ></form-multi-select>
          <form-multi-select
            class="col-2"
            [label]="'Nguồn đặt lệnh'"
            [floatLabel]="true"
            [options]="listSource"
            [(ngModelValue)]="filter.source"
            (_onChange)="changeFilter($event)"
          ></form-multi-select>
        </div>
      </ng-container>
    </form-table>
  </div>
</div>
