<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 px-0">
                    <span class="mb-0 h3 pr-1" style="color: #172b4d;"> {{ titlePage }} </span>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-md-6 pl-0 d-flex align-items-end">
                    <button class="btn btn-sm btn-primary" (click)="create()">
                        <i class="mdi mdi-plus-circle mr-1"></i> Thêm chi tiết lãi của trái phiếu
                    </button>
                </div>
                <div class="col-md-6 d-flex justify-content-end pr-0">
                    <div class="input-group input-search">
                        <input type="text" class="form-control form-control-sm border-radius-default" name="keyword"
                            [placeholder]="'Tìm kiếm...'" [(ngModel)]="keyword" (keyup)="changeKeyword()"
                            (keyup.enter)="setPage({ offset: offset })"/>
                        <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button" (click)="setPage({ offset: offset })">
                            <i class="icon-magnifier"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-0">
                    <ngx-datatable class="ngx-datatable-custom frozen-right"
                        #productBondInterestTable
                        [rows]="rows"
                        [columnMode]="ColumnMode.force"
                        [footerHeight]="42" [rowHeight]="50"
                        [headerHeight]="50" [footerHeight]="42"
                        [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
                        [externalPaging]="true" [count]="page.totalItems" [offset]="page.pageNumber" [limit]="page.pageSize"
                        [messages]="datatableMessage" [columns]="columns"
                        (page)="setPage($event)" [busy]="isLoading">
                        <ngx-datatable-column name="name" [width]="200" [sortable]="false">
                            <ng-template let-column="column" ngx-datatable-header-template> Lãi suất </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div style="margin-left: 8px;" [title]="value">
                                    {{ row.interestRate ?? '-' }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="type" [width]="100" [sortable]="false">
                            <ng-template let-column="column" ngx-datatable-header-template> Kỳ hạn trả lãi </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div style="margin-left: 8px;">
                                    {{ row.interestPeriod ?? '-' }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                            <ngx-datatable-column name="bondPeriodUnit" [width]="180" [sortable]="false">
                                <ng-template let-column="column" ngx-datatable-header-template> Đơn vị kỳ hạn trả lãi </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div style="margin-left: 8px;">
                                        {{ ProductBondInterestConst.getPeriodUnits(row.interestPeriodUnit) ?? '-' }}
                                    </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="100" [sortable]="false" [frozenRight]="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div class="dropdown" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                                    <button dropdownToggle class="btn btn-action-table dropdown-toggle" type="button" id="dropdownMenu"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Thao tác
                                    </button>
                                    <div class="dropdown-menu table-dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenu">
                                        <span>
                                            <a class="dropdown-item dropdown-item-wrapper" (click)="edit(row.bondInterestId)">
                                                <i class="fas fa-pencil-alt"></i> Sửa
                                            </a>
                                            <a class="dropdown-item dropdown-item-wrapper" (click)="delete(row)">
                                                <i class="fas fa-trash"></i>&nbsp; Xoá
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>




