<div class="col-12">
    <div class="grid p-fluid ">
        <!-- Thông số sản phẩm -->
        <ng-container>
            <div class="col-12 flex align-content-center flex-wrap"> 
                <h6 class="mb-0"> Thông số sản phẩm </h6>
            </div>
            <div class="field mb-0 col-4">
                <label class="title-info">
                    Mật độ xây dựng <span class="required-field"> * </span>
                </label>
                <input  
                    [(ngModel)]="productData.buildingDensityName" placeholder="Nhập dữ liệu" [disabled]="true"
                    pInputText class="custom-input" type="text" class="b-disabled"
                />
            </div>
            <div class="field mb-0 col-4">
                <label class="title-info">
                    Phân loại sản phẩm <span class="required-field"> * </span>
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="true" appendTo="body" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.classifyTypes" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.classifyType">
                </p-dropdown>
            </div>
            <div class="field mb-0 col-4">
                <label class="title-info">
                    Loại sổ đỏ <span class="required-field"> * </span>
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="false" appendTo="body" placeholder="Chọn" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.redBookTypes" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.redBookType">
                </p-dropdown>
            </div>
        </ng-container>
        <!-- Thông tin chi tiết -->
        <ng-container>
            <div class="col-12">
                <h6 class="mb-0"> Thông tin chi tiết </h6>
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info"> Mã căn / Mã SP </label>
                <input  
                    [(ngModel)]="productData.code" placeholder="Nhập dữ liệu" [disabled]="true"
                    pInputText class="custom-input" type="text" class="b-disabled"
                />
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info"> Nhập số căn / tên </label>
                <input  
                    [(ngModel)]="productData.name" placeholder="Nhập dữ liệu" [disabled]="true"
                    pInputText class="custom-input" type="text" class="b-disabled"
                />
            </div>
            <!--  -->
            <div class="field mb-0 col-2" *ngIf="ProductConst.classifyTypeGroupFirst.includes(productData.classifyType)">
                <label class="title-info"> Tầng số </label>
                <input  
                    [(ngModel)]="productData.noFloor" placeholder="Nhập dữ liệu" [disabled]="true"
                    pInputText class="custom-input" type="text" class="b-disabled"
                />
            </div>
            <!--  -->
            <div class="field mb-0 col-2" *ngIf="ProductConst.classifyTypeGroupSecond.includes(productData.classifyType)">
                <label class="title-info"> Số tầng </label>
                <input  
                    [(ngModel)]="productData.numberFloor" placeholder="Nhập dữ liệu" [disabled]="true"
                    pInputText class="custom-input" type="text" class="b-disabled"
                />
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info">
                    Số lượng phòng
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="false" appendTo="body" placeholder="Chọn" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.roomTypes" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.roomType">
                </p-dropdown>
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info">
                    Hướng cửa
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="false" appendTo="body" placeholder="Chọn" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.doorDirections" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.doorDirection">
                </p-dropdown>
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info">
                    Hướng ban công
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="false" appendTo="body" placeholder="Chọn" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.doorDirections" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.balconyDirection">
                </p-dropdown>
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info">
                    Vị trí SP / Căn 
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="false" appendTo="body" placeholder="Chọn" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.locations" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.productLocation">
                </p-dropdown>
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info">
                    Loại hình Căn / SP
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="true" appendTo="body" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.types" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.productType">
                </p-dropdown>
            </div>
            <!-- Loại hình căn ghép thì mới hiện 2 trường dũ liệu này để nhập -->
            <ng-container *ngIf="productData.productType == ProductConst.GRAFT_TYPE">
                <div class="field mb-0 col-2">
                    <label class="title-info"> Nhập căn ghép </label>
                    <input  
                        [(ngModel)]="productData.compoundRoom" placeholder="Nhập dữ liệu" [disabled]="true"
                        pInputText class="custom-input" type="text" class="b-disabled"
                    />
                </div>
                <div class="field mb-0 col-2">
                    <label class="title-info"> Tầng ghép </label>
                    <input  
                        [(ngModel)]="productData.compoundFloor" placeholder="Nhập dữ liệu" [disabled]="true"
                        pInputText class="custom-input" type="text" class="b-disabled"
                    />
                </div>
            </ng-container>
            <!--  -->
            <div class="field mb-0 col-{{ productData.productType == ProductConst.GRAFT_TYPE ? 4 : 2 }}">
                <label class="title-info">
                    Loại bàn giao
                </label>
                <p-dropdown 
                    [autoDisplayFirst]="false" appendTo="body" placeholder="Chọn" [disabled]="true" class="b-disabled"
                    [options]="ProductConst.handingTypes" optionLabel="name" optionValue="code" 
                    [(ngModel)]="productData.handingType">
                </p-dropdown>
            </div>
            <!--  -->
            <div class="field mb-0 col-{{ productData.productType == ProductConst.GRAFT_TYPE ? 10 : 4 }}">
                <label class="title-info"> Hướng view </label>
                <input  
                    [(ngModel)]="productData.viewDescription" class="b-disabled"
                    [disabled]="true"
                    pInputText type="text" placeholder="Nhập dữ liệu"
                />
            </div>
            <!--  -->
            <div class="col-12 md:col-2">
                <div class="field mb-0">
                    <label for="handoverTime">Thời gian bàn giao</label>
                    <e-calendar
                        [placeholder]="'dd-mm-yy'"
                        [disabled]="true"
                        [inputId]="'handoverTime'"
                        [(value)]="productData.handoverTime"
                    >
                    </e-calendar>
                </div>
            </div>
            <!-- Hiển thị vs phân loại sản phẩm là: Căn hộ (Thông thường | Studio | Shophouse | Penthouse | Duplex | Sky Villa) -->
            <ng-container *ngIf="ProductConst.classifyTypeGroupFirst.includes(productData.classifyType)">
                <div class="field mb-0 col-2">
                    <label class="title-info" [title]="'Diện tích thông thủy'"> DT thông thủy (m2) </label>
                    <p-inputNumber  
                        [(ngModel)]="productData.carpetArea" placeholder="Nhập dữ liệu" class="b-disabled"
                        [disabled]="true">
                    </p-inputNumber>
                </div>
                <div class="field mb-0 col-2">
                    <label class="title-info" [title]="'Diện tích tim tường'"> DT tim tường (m2) </label>
                    <p-inputNumber 
                        [(ngModel)]="productData.builtUpArea" placeholder="Nhập dữ liệu" class="b-disabled"
                        [disabled]="true">
                    </p-inputNumber>
                </div>
            </ng-container>
            <!-- Hiển thị vs phân loại sản phẩm là: Nhà ở nông thôn | Biệt thự nhà ở | Liền kề | Chung cư thấp tầng | Căn Shophouse | Biệt thự nghỉ dưỡng | Villa -->
            <ng-container *ngIf="ProductConst.classifyTypeGroupSecond.includes(productData.classifyType)">
                <div class="field mb-0 col-2">
                    <label class="title-info" [title]="'Diện tích mặt đất'"> DT mặt đất (m2) </label>
                    <p-inputNumber 
                        [(ngModel)]="productData.landArea" placeholder="Nhập dữ liệu" class="b-disabled"
                        [disabled]="true">
                    </p-inputNumber>
                </div>
                <div class="field mb-0 col-2">
                    <label class="title-info" [title]="'Diện tích xây dựng'"> DT xây dựng (m2) </label>
                    <p-inputNumber 
                        [(ngModel)]="productData.contractionArea" placeholder="Nhập dữ liệu" class="b-disabled"
                        [disabled]="true">
                    </p-inputNumber>
                </div>
            </ng-container>
            <!--  -->
            <div class="field mb-0 col-2">
                <label class="title-info" [title]="'Diện tích tính giá'"> DT tính giá (VND) </label>
                <p-inputNumber 
                    [(ngModel)]="productData.priceArea" placeholder="Nhập dữ liệu" class="b-disabled"
                    (onInput)="calculatePrice($event.value, 'priceArea')" 
                    [disabled]="true">
                </p-inputNumber>
            </div>
            <div class="field mb-0 col-2">
                <label class="title-info"> Đơn giá bán (VND) </label>
                <p-inputNumber 
                    [(ngModel)]="productData.unitPrice" placeholder="Nhập dữ liệu" class="b-disabled"
                    (onInput)="calculatePrice($event.value, 'unitPrice')" 
                    [disabled]="true">
                </p-inputNumber>
            </div>
            <div class="field mb-0 col-4">
                <label class="title-info"> Giá bán (VND) </label>
                <p-inputNumber 
                    [(ngModel)]="productData.price" placeholder="Nhập dữ liệu" class="b-disabled"
                    [disabled]="true">
                </p-inputNumber>
            </div>
        </ng-container>
        <!-- Thông tin khác -->
        <ng-container *ngIf="productData.productItemExtends?.length">
            <div class="col-12 mt-3">
                <h6 class="mb-0"> Thông tin khác </h6>
            </div>
            <div *ngFor="let infor of productData.productItemExtends; let i = index">
                <div class="flex b-w-100">
                    <div class="field mb-0 col-4">
                        <label class="title-info"> Tiêu đề thông tin {{i+1}} </label>
                        <input 
                            pInputText [(ngModel)]="infor.title" class="custom-input b-disabled" type="text"
                            placeholder="Nhập dữ liệu" [disabled]="true"
                        />
                    </div>
                    <div class="field mb-0 col-4">
                        <label class="title-info"> Nội dung thông tin</label>
                        <input 
                            pInputText [(ngModel)]="infor.description" class="custom-input b-disabled" type="text"
                            placeholder="Nhập dữ liệu" [disabled]="true"
                        />
                    </div>
                    <div class="field mb-0 col-4">
                        <label class="title-info"> Icon </label>
                        <input 
                            pInputText [(ngModel)]="infor.iconName" class="custom-input b-disabled" type="text"
                            placeholder="Nhập dữ liệu" [disabled]="true"
                        />
                    </div>
                    <!-- <div class="field col flex align-items-end" style="margin-top: 1.75rem;">
                        <p-image src="{{infor?.path ?? defaultIcon}}" 
                            alt="Image" [width]="30" [height]="30" 
                            [imageStyle]="imageStyle">
                        </p-image>
                        <p-button 
                            styleClass="p-button custom-button mr-3" label="Chọn Icon" (click)="changeIcon(infor)">
                        </p-button>
                        <p-button 
                            styleClass="p-button p-button-danger" label="Xoá" (click)="deleteIcon(i)">
                        </p-button>
                    </div> -->
                </div>
            </div>
        </ng-container>
    </div>
</div>