<p-toast></p-toast>
<p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
<ng-container>
    <div [id]="idHeader"> 
        <div class="grid tabview-table-header">
            <div class="col-12 md:col-6">
                <div class="flex">
                    <span class="p-float-label b-custom filter">
                        <p-dropdown 
                            [style]="{'width':'150px'}" placeholder="Tất cả"
                            [options]="ActiveDeactiveConst.list" optionLabel="name" optionValue="code" 
                            [(ngModel)]="status"
                            (onChange)="setPage()" 
                            [showClear]="true" 
                            [autoDisplayFirst]="false">
                        </p-dropdown>
                        <label class="font-normal" for="dropdownStatus">Trạng thái</label>
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-6 flex justify-content-end flex-column sm:flex-row">
                <button 
                    *ngIf="isGranted([PermissionInvestConst.InvestPPDT_ChinhSach_ThemMoi])"
                    pButton pRipple label="Thêm chính sách" icon="pi pi-plus" 
                    class="p-button-success" (click)="create()">
                </button>
            </div>
        </div>
    </div>
    <e-table
        [rows]="rows"
        [(page)]="page"
        [columns]="columns"
        [isLoading]="isLoading"
        [tabContentHeight]="contentHeight"
        [idHeader]="idHeader"
        [listAction]="listAction"
        [columnCacheName]="constructor.name"
        [isShowIconFilter]="false"
        (_onPageChange)="setPage($event)">
    </e-table>
</ng-container>

