div.overview-card {
  border: 1px solid #f0f0f0;
}

div.overview-card-infor {
  border-radius: 8px 0px 0px 8px;
}

div.overview-card-ratio {
  background-color: #f7f9ff;
  border-radius: 0px 8px 8px 0px;
}

span.overview-card-label {
  color: #6f767e;
  font-weight: 600;
  font-size: 14px;
}
