
<div class="grid ml-0 mr-0 mt-0">
    <div class="col-12">
        <div class="card b-list mt-0 pt-0">
            <div class="p-fluid p-formgrid grid b-header">
                <div class="col-12 md:col-7 b-title">
                    <h4 style="display:inline"> Xử lý hợp đồng </h4>
                </div>
            </div>
            <p-toast></p-toast> 
            <p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
            <!-- Từ {first} đến {last} trong tổng {totalRecords} bản ghi -->
            <p-table 
                #productBondInfoTable 
                [value]="rows" 
                [columns]="_selectedColumns"
                [loading]="isLoading" [rowHover]="true" responsiveLayout="scroll" dataKey="code" [showCurrentPageReport]="true" [paginator]="false" 
                (onPageChange)="setPage($event)" [scrollable]="true" scrollHeight="{{(screenHeight*0.56) + 'px'}}" styleClass="custom-table">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    placeholder="{{ OrderConst.getInfoFieldFilter(dataFilter.fieldFilter, 'placeholder') }}"
                                    [(ngModel)]="keyword" style="min-width: 20rem"
                                    (input)="changeKeywordSearch($event)" />
                            </span>
                            <span class="p-float-label b-custom ml-3">
                                <p-dropdown id="fieldFilter" [style]="{'width':'16rem'}"
                                    [options]="OrderConst.fieldFilters" name="fieldFilter" optionLabel="name"
                                    optionValue="field" [(ngModel)]="dataFilter.fieldFilter" [autoDisplayFirst]="true"
                                    (onChange)="changeFieldFilter($event)">
                                </p-dropdown>
                                <label class="font-normal" for="fieldFilter">Tìm kiếm theo</label>
                            </span>
                            <span class="p-float-label b-custom ml-2">
                                <p-dropdown
                                    class="ml-2" 
                                    id="dropdownStatus" [style]="{'width':'16rem'}" [options]="statusSearch" optionLabel="name"
                                    optionValue="code" [(ngModel)]="status"
                                    (onChange)="changeStatus($event.value)">
                                </p-dropdown>   
                                <label class="font-normal" for="dropdownStatus">Trạng thái</label>
                            </span>
                            <span class="p-float-label b-custom ml-2">
                                <p-dropdown
                                    class="ml-2" 
                                    id="dropdownStatus" 
                                    [style]="{'width':'16rem'}" 
                                    [options]="sources" optionLabel="name" optionValue="code"
                                    [(ngModel)]="dataFilter.source"
                                    (onChange)="changeStatus($event.value)">
                                    </p-dropdown>   
                                <label class="font-normal" for="dropdownStatus">Loại hình</label>
                            </span>  
                            
                        </div>
                    </div>

                    <div class="flex justify-content-between flex-column sm:flex-row mt-5">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <span class="p-float-label b-custom">
                                <p-dropdown 
                                    [style]="{'min-width':'20rem'}" [options]="bondSecondarys"
                                    [(ngModel)]="dataFilter.bondSecondaryId" optionLabel="bondName"
                                    optionValue="bondSecondaryId" (onChange)="changeBondSecondary($event.value)"
                                    [autoDisplayFirst]="true">
                                </p-dropdown>
                                <label class="font-normal" for="dropdownStatus">Gói trái phiếu</label>
                            </span>
                            <span class="p-float-label b-custom">
                                <p-multiSelect class="ml-3" [filter]="false" [filterMatchMode]="false"
                                    emptyMessage="Không có dữ liệu" [style]="{'min-width':'16rem'}"
                                    [options]="bondPolicies" placeholder="Chọn sản phẩm"
                                    [(ngModel)]="dataFilter.bondPolicyId" optionLabel="name" optionValue="bondPolicyId"
                                    (onChange)="changeBondPolicy($event.value)">
                                </p-multiSelect>
                                <label class="font-normal" for="dropdownStatus">Sản phẩm</label>
                            </span>
                            <span class="p-float-label b-custom ml-3">
                                <p-dropdown class="" emptyMessage="Không có dữ liệu" [style]="{'width':'16rem'}"
                                    [options]="bondPolicyDetails" [(ngModel)]="dataFilter.bondPolicyDetailId"
                                    optionLabel="name" optionValue="bondPolicyDetailId" placeholder="Chọn kỳ hạn"
                                    (onChange)="setPage($event.value)">
                                    [autoDisplayFirst]="true">
                                </p-dropdown>
                                <label class="font-normal">Kỳ hạn</label>
                            </span>
                            <span class="p-float-label b-custom ml-2">
                                <p-dropdown
                                    class="ml-2"
                                    emptyMessage="Không có dữ liệu" [style]="{'width':'16rem'}"
                                    [options]="orderSources" 
                                    optionLabel="name" optionValue="code"
                                    (onChange)="setPage($event.value)"
                                    [(ngModel)]="dataFilter.orderSource"
                                    [autoDisplayFirst]="true">
                                </p-dropdown>
                                <label class="font-normal" >Nguồn đặt lệnh</label>
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
					<tr>
						<th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left b-border-frozen-right"> #ID </th>
                        <th *ngFor="let col of columns" [ngStyle]="{'max-width': !col.isPin ? col.width : '', 'min-width': col.width}" [ngClass]=" col.class ">
                            {{ col.header }}
                        </th>
                        <th style="min-width: 7rem; max-width: 7rem;"> Loại </th>
                        <th style="min-width: 10rem; max-width: 10rem;"> Nguồn </th>
                        <th style="min-width: 10rem; max-width: 10rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> Trạng thái </th>
                        <th style="min-width: 3rem; max-width: 3rem; justify-content: center;" [frozen]="true" pFrozenColumn alignFrozen="right" class="b-table-actions"> 
                            <i class="pi pi-cog" (click)="setColumn(cols, _selectedColumns)"></i>
                        </th>
					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left b-border-frozen-right"> {{ row?.orderId }} </td>
                        <td *ngFor="let col of columns" [ngStyle]="{'max-width': !col.isPin ? col.width : '', 'min-width': col.width}" [ngClass]=" col.class ">
                            <div [ngClass]="col.cutText" [title]="row[col.field]">
                                {{ row[col.field] }}
                            </div>
                        </td>
                        <td style="min-width: 7rem; max-width: 7rem;"> 
                            <p-tag 
                                styleClass="p-tag-{{ OrderConst.getInfoSource(row.source, 'severity') }}" 
                                severity="{{ OrderConst.getInfoSource(row.source, 'severity') }}" 
                                value="{{ OrderConst.getInfoSource(row.source, 'name') }}">
                            </p-tag>     
                        </td>
                        <td style="min-width: 10rem; max-width: 10rem;"> 
                            <p-tag 
                                styleClass="p-tag-{{ OrderConst.getInfoOrderSource(row.orderSource, 'severity') }}" 
                                severity="{{ OrderConst.getInfoOrderSource(row.orderSource, 'severity') }}" 
                                value="{{ OrderConst.getInfoOrderSource(row.orderSource, 'name') }}">
                            </p-tag>     
                        </td>
                        <td style="min-width: 10rem; max-width: 10rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
                            <p-tag styleClass="p-tag-{{ OrderConst.getSeverityStatus(row.status) }}" severity="{{ OrderConst.getSeverityStatus(row.status) }}" value="{{ OrderConst.getNameStatus(row.status) }}"></p-tag> 
                        </td>                        
                        <td style="min-width: 3rem; max-width: 3rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-table-actions">
                            <div class="flex">
                                <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                                <p-menu 
                                    #menu [popup]="true"class="button-actions"
                                    [model]="listAction[rowIndex]" appendTo="body"
                                    >
                                </p-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Không có dữ liệu.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="7"> Đang tải dữ liệu ... </td>
					</tr>
				</ng-template>
            </p-table>
            <p-paginator 
                [rows]="page.pageSize" 
                [totalRecords]="page.totalItems" 
                [rowsPerPageOptions]="[25, 50, 100, 200]" 
                currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng" 
                showCurrentPageReport="true"
                (onPageChange)="setPage($event)">
            </p-paginator>
        </div>
    </div>
</div>


