<app-loading-page *ngIf="isLoadingPage"></app-loading-page>

<div class="grid ml-0 mr-0 mt-0">
	<div class="col-12">
		<div class="card b-list">
			<div class="p-fluid p-formgrid grid b-header">
				<div class="col-12 md:col-7 b-title">
					<h4 style="display: inline">Danh sách phân phối dự án</h4>
				</div>
				<div class="col-12 md:col-5 b-action">
					<button *ngIf="isGranted([PermissionRealStateConst.RealStatePhanPhoi_ThemMoi])" pButton pRipple
						label="Thêm mới" icon="pi pi-plus" class="p-button-success mr-2" (click)="create()">
					</button>
				</div>
			</div>
            <p-table [value]="rows" [columns]="selectedColumns" [loading]="isLoading" 
                [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
                responsiveLayout="scroll" dataKey="code" [scrollable]="true"
                [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': minWidthTable, 'width': '100%'}"
                (onPageChange)="setPage($event)" [scrollHeight]="screenHeight * 0.60 + 'px'" 
                styleClass="p-datatable-gridlines" sortMode="multiple" (onSort)="onSort($event)" [customSort]="true">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<div class="flex justify-content-between flex-column sm:flex-row">
							<div class="b-wr-20 wrapper-filter">
								<input-search [(keyword)]="keyword" (_onChange)="setPage()">
								</input-search>
							</div>
							<span class="p-float-label b-custom ml-2">
								<p-dropdown [style]="{ width: '16rem' }" [showClear]="true" placeholder="Tất cả"
									[options]="projects" optionLabel="name" optionValue="id"
									[(ngModel)]="fieldFilters.projectId" (onChange)="setPage()">
								</p-dropdown>
								<label class="font-normal">Dự án</label>
							</span>
							<span class="p-float-label b-custom b-ml-2">
								<p-dropdown [style]="{ width: '16rem' }" [showClear]="true" placeholder="Tất cả"
									[options]="tradingProviders" optionLabel="name" optionValue="tradingProviderId"
									[(ngModel)]="fieldFilters.tradingProviderId" (onChange)="setPage()">
								</p-dropdown>
								<label class="font-normal">Đại lý</label>
							</span>
							<span class="p-float-label b-custom b-ml-2">
								<p-dropdown [style]="{ width: '16rem' }" [showClear]="true" placeholder="Tất cả"
									[options]="statusFilters" optionLabel="name" optionValue="code"
									[(ngModel)]="fieldFilters.status" (onChange)="setPage()">
								</p-dropdown>
								<label class="font-normal">Trạng thái</label>
							</span>
						</div>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th pSortableColumn="Id" style="max-width: 5rem; min-width: 5rem;" pFrozenColumn
							alignFrozen="left"> #ID <p-sortIcon field="Id"></p-sortIcon></th>
						<ng-container *ngFor="let col of columns">
							<th pResizableColumn *ngIf="col.fieldSort" pSortableColumn="{{col.fieldSort}}"
								[ngStyle]="{'max-width': !col?.isResize ? col?.width : '', 'min-width': col?.width}"
								[ngClass]="col.class">
								{{ col.header }} <p-sortIcon *ngIf="col.fieldSort"
									field="{{col.fieldSort}}"></p-sortIcon>
							</th>
							<th pResizableColumn *ngIf="!col.fieldSort"
								[ngStyle]="{'max-width': !col?.isResize ? col?.width : '', 'min-width': col?.width}"
								[ngClass]="col.class">
								{{ col.header }} <p-sortIcon *ngIf="col.fieldSort"
									field="{{col.fieldSort}}"></p-sortIcon>
							</th>
						</ng-container>
						<th class="b-col-status b-border-frozen-right" pFrozenColumn alignFrozen="right"
							[frozen]="true">
							Trạng thái
						</th>
						<th class="b-col-actions" pFrozenColumn alignFrozen="right" [frozen]="true">
							<i class="pi pi-cog" (click)="setColumn(headerColumns, selectedColumns)"></i>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
					<tr>
						<td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" [frozen]="true">
							{{ row.id }}
						</td>
						<td *ngFor="let col of columns"
							[ngStyle]="{ 'max-width': !col?.isResize ? col?.width : '', 'min-width': col?.width }"
							[ngClass]="col.class">
							<div [ngClass]="col.cutText" [title]="row[col.field]">
								{{ row[col.field] }}
							</div>
						</td>
						<td class="b-col-status b-border-frozen-right" pFrozenColumn alignFrozen="right"
							[frozen]="true">
							<p-tag styleClass="p-tag-{{ ProductDistributionConst.getStatus(row?.status, 'severity') }}"
								severity="{{ ProductDistributionConst.getStatus(row?.status, 'severity') }}"
								value="{{ ProductDistributionConst.getStatus(row?.status) }}">
							</p-tag>
						</td>
						<td class="b-col-actions" pFrozenColumn alignFrozen="right" [frozen]="true">
							<div class="flex">
								<i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
								<p-menu #menu [popup]="true" class="button-actions" [model]="listAction[rowIndex]"
									appendTo="body">
								</p-menu>
							</div>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Không có dữ liệu.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="7">Đang tải dữ liệu ...</td>
					</tr>
				</ng-template>
			</p-table>
			<p-paginator [rows]="page.pageSize" [totalRecords]="page.totalItems"
				[rowsPerPageOptions]="page.perPageOptions" currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng"
				showCurrentPageReport="true" (onPageChange)="setPage($event)">
			</p-paginator>
		</div>
	</div>
</div>