<div class="login-content">
    <div class="login-content-left col-6" >
     <div class="no-copy-right-center">
         <p class="no-copy-right">
             Bản quyền thuộc EPIC @2022
         </p>
     </div>
     <div class="login-content-left-main">
         <div class="logo">
             <img src="../../assets/layout/images/logo.png" alt="">
         </div>
         <a style="color: #000; opacity:0.8" href="account/login"><i class="pi pi-arrow-left mb-3"></i></a>
         <div class="login-title">
             <h2>Quên mật khẩu</h2>
             <p class="login-title-sub mb-4">
                 Vui lòng nhập tài khoản của bạn
             </p>
         </div>
         <div class="login-form">
                 <div class="login-input-wrapper mb-4">
                     <label for="username" class="phone_login">Tài khoản:</label>
                     <input id="username" #username  pInputText  placeholder="Nhập tài khoản của bạn" />
                 </div>
    
                 <div class="buttons">
                     <a href="account/get-otp"><button class="login-button mb-2" pButton type="button"  label="Tiếp tục" ></button></a>
                         <button class="help-button" pButton type="button"  label="Cần hỗ trợ? Hotline 18006085">
                             <i class="pi pi-question-circle question-icon"></i>
                         </button>
             </div>
         </div>
     </div>
    </div>
    <div class="login-content-right col-6" >
         <div class="ellipse-img">
             <img src="../../assets/layout/images/Ellipse 757.png" alt="">
         </div>
         <div class="ellipse-blur"></div>
    </div>
 </div>
