<app-loading-page *ngIf="isLoadingPage"></app-loading-page>
<div class="card b-page-detail {{ isLoadingPage ? 'b-loading' : '' }}" *ngIf="!isLoadingPage">
    <div class="p-fluid p-formgrid grid b-header">
        <div class="card col-12 md:col-12 b-actions">
            <div class="flex justify-content-between flex-wrap card-container purple-container">
                <h5 class="title-info mb-0 ml-0"> Thông tin đầu tư </h5>
                <div>
                    <p-button styleClass="p-button-sm custom-button   border-600 b-button-back"
                        [routerLink]="OrderConst.getBackLink(orderDetail.status)" label="Quay lại"
                        icon="pi pi-chevron-left" class="b-0  ">
                    </p-button>
                </div>
            </div>
        </div>
    </div>

    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
        <p-tabPanel *ngIf="isGranted([PermissionGarnerConst.GarnerHDPP_SoLenh_TTCT_TTC])">
            <ng-template pTemplate="header">
                <span> Thông tin chung </span>
            </ng-template>

            <div *ngIf="isGranted([PermissionGarnerConst.GarnerHDPP_SoLenh_TTCT_TTC_XemChiTiet])" class="grid detail">
                <div class="col-12">
                    <div class="card pt-0 pb-0 mb-0">
                        <h5 class="title-info mb-2">Thông tin khách hàng</h5>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label class="title-info">Tên khách hàng</label>
                                <input 
                                    [disabled]="true" pInputText
                                    [value]="(orderDetail?.businessCustomer?.name ?? (orderDetail?.investor?.investorIdentification?.fullname ?? orderDetail?.investor?.name)) ?? null"
                                    class="custom-input-disabled" 
                                />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Số điện thoại</label>
                                <input 
                                    [disabled]="true" pInputText
                                    [value]="(orderDetail?.businessCustomer?.phone ?? orderDetail?.investor?.phone) ?? null"
                                    class="custom-input-disabled" 
                                />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Email</label>
                                <input 
                                    [disabled]="true" pInputText
                                    [value]="(orderDetail?.businessCustomer?.email ?? orderDetail?.investor?.email) ?? null"
                                    class="custom-input-disabled" 
                                />
                            </div>

                        <!--  -->
                            <div class="field mb-0 col-12 md:col-6" *ngIf="orderDetail?.businessCustomer">
                                <label class="title-info">Địa chỉ liên hệ</label>
                                <textarea [disabled]="true" pInputText [value]="(orderDetail?.businessCustomer?.address ?? orderDetail?.investor?.investorIdentification?.placeOfResidence) ?? null" class="custom-input-disabled" [rows]="2"></textarea>
                            </div>
                            
                            <div class="field mb-0 col-12 md:col-6" *ngIf="orderDetail?.investor">
                                <label class="title-info {{ (isEdit && isEditAll) ? 'hightline-title' : '' }}">Địa chỉ liên hệ</label>
                                <p-dropdown 
                                    class="custom-input-disabled" emptyMessage="Không có dữ liệu"
                                    [disabled]="!(isEdit && isEditAll)"
                                    [options]="orderDetail?.listContactAddress ?? []" optionLabel="contactAddress" optionValue="contactAddressId"
                                    [autoDisplayFirst]="false"
                                    [(ngModel)]="orderDetail.contractAddressId">
                                </p-dropdown>
                            </div>
                        <!--  -->

                            <div class="field col-12 md:col-6">
                                <label class="title-info {{ (isEdit && (fieldUpdates.bankAccount.isEdit || isEditAll)) ? 'hightline-title' : '' }}">
                                    Tài khoản thụ hưởng
                                </label>
                                <p-dropdown 
                                    emptyMessage="Không có dữ liệu"
                                    class="custom-input-disabled {{ (isEdit && fieldUpdates.bankAccount.isEdit) ? 'hightline-select' : '' }}"
                                    [options]="listBank" optionLabel="labelName" optionValue="investorBankAccId"
                                    [autoDisplayFirst]="false"
                                    [disabled]="!(isEdit && (fieldUpdates.bankAccount.isEdit || isEditAll))"
                                    [(ngModel)]="orderDetail.investorBankAccId">
                                </p-dropdown>
                            </div>
                        </div>

                        <h5 class="title-info mb-2 mt-2">Thông tin dự án</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label class="title-info"> Dự án </label>
                                <input [disabled]="true" pInputText [value]="distributionInfo?.project?.invName" class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info"> Mã hợp đồng </label>
                                <input [disabled]="true" pInputText [value]="orderDetail?.contractCode" class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Mã dự án</label>
                                <input [disabled]="true" pInputText [value]="projectInformation?.invCode" class="custom-input-disabled" />
                            </div>
                            
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Ngày bắt đầu</label>
                                <input [disabled]="true" pInputText [value]="formatDate(projectInformation?.startDate)" class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info"> Ngày kết thúc </label>
                                <input [disabled]="true" pInputText [value]="formatDate(projectInformation?.endDate)" class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label class="title-info">Hạn mức đầu tư </label>
                                <input 
                                    [disabled]="true" pInputText
                                    value="{{ utils.transformMoney(projectInformation?.totalInvestment) }}"
                                    class="custom-input-disabled" 
                                />
                            </div>
                        </div>

                        <h5 class="title-info mb-2 mt-2">Thông tin hợp đồng</h5>
                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 md:col-3">
                                <label class="title-info {{ (isEdit && isEditAll) ? 'hightline-title' : '' }}">Chính sách
                                    <span class="required-field"> * </span></label>
                                <p-dropdown 
                                    class="custom-input-disabled" optionLabel="name"
                                    emptyMessage="Không có dữ liệu" [options]="policies" [autoDisplayFirst]="false"
                                    [disabled]="!(isEdit && isEditAll)" [(ngModel)]="policyInfo"
                                    (onChange)="changePolicy($event.value)">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Mã chính sách</label>
                                <input pInputText value="{{ policyInfo?.code }}" [disabled]="true"
                                    class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Loại</label>
                                <input pInputText value="{{ ProductPolicyConst.getTypeName(policyInfo?.type) }}"
                                    [disabled]="true" class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Thuế thu nhập</label>
                                <input pInputText value="{{ policyInfo?.incomeTax ? ( utils.transformPercent(policyInfo?.incomeTax) + '%') : ''  }}" [disabled]="true"
                                    class="custom-input-disabled" />
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Ngày bắt đầu</label>
                                <input [disabled]="true" pInputText [value]="formatDate(orderDetail?.paymentFullDate)" class="custom-input-disabled" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info"> Ngày kết thúc </label>
                                <input [disabled]="true" pInputText [value]="formatDate(orderDetail?.endDate)" class="custom-input-disabled" />
                            </div> 
                            <div class="field col-12 md:col-6">
                                <label class="title-info {{ (isEdit && (fieldUpdates.totalValue.isEdit || isEditAll)) ? 'hightline-title' : '' }}">Giá trị hợp đồng </label>
                                <p-inputNumber
                                    class="custom-input-disabled {{ (isEdit && fieldUpdates.totalValue.isEdit) ? 'hightline-p-input' : '' }}"
                                    mode="decimal" [disabled]="!(isEdit && (fieldUpdates.totalValue.isEdit || isEditAll))"
                                    [(ngModel)]="orderDetail.totalValue"
                                    locale="de-DE">
                                </p-inputNumber>
                            </div>
                        </div>
                        <h5 class="title-info mb-2 mt-2"> Thời hạn </h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label class="title-info {{ (isEdit && (fieldUpdates.policy.isEdit || isEditAll)) ? 'hightline-title' : '' }}">Thời hạn <span class="required-field"> * </span></label>
                                <p-dropdown 
                                    class="custom-input-disabled {{ (isEdit && fieldUpdates.policy.isEdit) ? 'hightline-select' : '' }}" optionLabel="periodQuantityPeriodType" optionValue="id"
                                    [disabled]="!(isEdit && (fieldUpdates.policy.isEdit || isEditAll))"
                                    emptyMessage="Không có dữ liệu" [options]="policyDetails" (onChange)="changePolicyDetail($event.value)"
                                    [autoDisplayFirst]="false" [(ngModel)]="orderDetail.policyDetailId">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label class="title-info">Tỉ lệ lợi nhuận</label>
                                <input pInputText value="{{ profit ? ( utils.transformPercent(profit) + '%') : ''  }}" [disabled]="true"
                                    class="custom-input-disabled" />
                            </div>
                        </div>
                        <!--  -->
                        <h5 class="title-info mb-2 mt-2">Mã giới thiệu</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 mb-0 md:col-3">
                                <label class="title-info {{ (isEdit && (fieldUpdates.referralCode.isEdit || isEditAll)) ? 'hightline-title' : '' }}">Mã giới thiệu</label>
                                <div class="p-inputgroup">
                                    <input
                                        class="custom-input-disabled {{ (isEdit && (fieldUpdates.referralCode.isEdit)) ? 'hightline-input' : '' }}"
                                        [disabled]="!(isEdit && (fieldUpdates.referralCode.isEdit || isEditAll))" 
                                        readonly class="custom-input-disabled" 
                                        value="{{ sale?.referralCode }}" type="text" 
                                        pInputText placeholder="Click để tìm kiếm"
                                    />   
                                    <button [disabled]="!isEdit" (click)="showSale()" class="title-info" type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>      
                                </div>
                            </div>
                            
                            <div class="field col-12 mb-0 md:col-3">
                                <label class="title-info">Số điện thoại</label>
                                <input pInputText [disabled]="true" value="{{ sale?.investor?.phone ?? sale?.businessCustomer?.phone }}" class="custom-input-disabled"/>
                            </div>

                            <div class="field col-12 mb-0 md:col-6">
                                <label class="title-info">Tên người giới thiệu</label>
                                <input pInputText [disabled]="true" value="{{ sale?.investor?.investorIdentification?.fullname ?? sale?.businessCustomer?.name}}" class="custom-input-disabled"/>
                            </div> 

                            <div class="field col-12 mb-0 md:col-3">
                                <label class="title-info">Email</label>
                                <input pInputText [disabled]="true" value="{{ sale?.investor?.email ?? sale?.businessCustomer?.email}}" class="custom-input-disabled"/>
                            </div>
                            <div class="field col-12 mb-0 md:col-3">
                                <label class="title-info">Phòng GD quản lý </label>
                                <input pInputText [disabled]="true" value="{{ sale?.departmentName }}" class="custom-input-disabled"/>
                            </div>
                            <div class="field col-12 mb-0 md:col-6">
                                <label class="title-info">Phòng giao dịch quản lý hợp đồng</label>
                                <input pInputText [disabled]="true" value="{{ sale?.departmentName }}" class="custom-input-disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel [header]="'loiNhuan'" *ngIf="isGranted([PermissionGarnerConst.GarnerSoLenh_LoiNhuan])">
            <ng-template pTemplate="header">
                <span> Lợi nhuận </span>
            </ng-template>
            <app-order-profit [orderDetail]="orderDetail" *ngIf="tabViewActive.loiNhuan"></app-order-profit>
        </p-tabPanel>
    </p-tabView>
</div>