<div *ngIf="isGranted([this.PermissionLoyaltyConst.LoyaltyMenu_HangThanhVien_DanhSach])" class="grid ml-0 mr-0 mt-0 h-full">
  <div class="col-12 h-full px-4">
    <div #divHeader class="flex b-header justify-content-between">
      <div class="b-title">
        <h4>Quản lý hạng thành viên</h4>
      </div>
      <div class="flex b-action">
        <form-button *ngIf="isGranted([this.PermissionLoyaltyConst.LoyaltyMenu_HangThanhVien_ThemMoi])" [icon]="'pi pi-plus'" [label]="'Thêm mới'" (_onClick)="create($event)"></form-button>
      </div>
    </div>
    <form-table
      [style.height]="'calc(100% - ' + divHeader.getBoundingClientRect().height + 'px)'"
      class="block auto-height-form-table"
      [columns]="selectedColumns"
      [dataSource]="dataSource"
      [isLoading]="isLoading"
      [scrollHeight]="'calc(100% - 2rem - ' + divFilter.getBoundingClientRect().height + 'px)'"
      [listAction]="listAction"
      [page]="page"
      (_changePage)="setPage($event)"
      (_setColumn)="setColumn($event)"
    >
      <ng-container filter>
        <div #divFilter class="flex flex-column sm:flex-row w-full">
          <form-input
            class="col-2 pl-0"
            [floatLabel]="true"
            [placeholder]="'Nhập Tên hạng/ Mô tả'"
            [label]="'Tìm kiếm'"
            [(ngModelValue)]="filter.keyword"
            (_onChange)="changeFilter($event)"
          ></form-input>
          <form-dropdown
            class="col-2"
            [floatLabel]="true"
            [options]="listStatus"
            [(ngModelValue)]="filter.status"
            [label]="'Trạng thái'"
            (_onChange)="changeFilter($event)"
          ></form-dropdown>
        </div>
      </ng-container>
    </form-table>
  </div>
</div>
