<div>
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="field" style="text-align: center;">
                <p-image
                    [src]="(data?.icon)" 
                    [imageStyle]="{'border-radius':'8px','max-height':'240px', 'width': '12%'}" 
                    >
                </p-image>      
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field">
                <label style="display: block; text-align: center; margin: -1rem auto 2rem;"> {{data.title }} </label>         
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label htmlFor="name">Chọn số điện thoại liên hệ</label>
                <p-dropdown 
                    appendTo="body" 
                    [options]="contractTypes" optionLabel="name" optionValue="code" 
                    [(ngModel)]="data.contractType">
                </p-dropdown>
            </div>
        </div>
        <div *ngIf="data.contractType === TYPE_OPTIONS.KHAC" class="col-12 md:col-12">
            <div class="field mb-0">
                <label htmlFor="contractPhone">Nhập số điện thoại liên hệ</label>
                <input type="text" name="contractPhone" pInputText [(ngModel)]="data.contractPhone" class="custom-input-disabled">
            </div>
        </div>
    </div>
    <div class="p-dialog-footer e-custom-dialog-footer">
        <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
        <button pButton pRipple label="Đồng ý" icon="pi pi-check" class="p-button-text p-confirm-dialog-approve" [disabled]="submitted" (click)="accept()"></button>
    </div>
</div>
