<div class="col-12">
    <div class="card p-0">
        <div class="flex justify-content-between mb-3">
            <h5 class="title-info">Mẫu biểu đặt cọc</h5>
        </div>
        <p-table  
            #userTable 
            selectionMode="multiple" responsiveLayout="scroll" dataKey="id" [scrollHeight]="getTableHeight()"
            styleClass="custom-table" [value]="rows" [rowHover]="true" [paginator]="false" [scrollable]="true">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="b-wr-20 wrapper-filter">
                            <input-search
                                [placeholder]="'Nhập tên hợp đồng'"
                                [(keyword)]="fieldFilters.keyword"
                                (_onChange)="setPage()">
                            </input-search>
                        </div>
                        <span class="p-float-label b-custom b-ml-2">
                            <p-dropdown [style]="{ width: '16rem' }" [showClear]="true" placeholder="Tất cả" [options]="listContractType"
                                optionLabel="name" optionValue="code" [(ngModel)]="fieldFilters.contractType"
                                (onChange)="setPage()">
                            </p-dropdown>
                            <label class="font-normal">Loại hợp đồng</label>
                        </span>
                        <span class="p-float-label b-custom b-ml-2">
                            <p-dropdown [style]="{ width: '16rem' }" [showClear]="true" placeholder="Tất cả" [options]="listStatus"
                                optionLabel="name" optionValue="code" [(ngModel)]="fieldFilters.status"
                                (onChange)="setPage()">
                            </p-dropdown>
                            <label class="font-normal">Trạng thái</label>
                        </span>
                    </div>
                    <div class="">
                        <button  
                            *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_MauBieu_ThemMoi])"
                            pButton pRipple label="Thêm mới" icon="pi pi-plus-circle"
                            class="p-button-success mr-2" (click)="create()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:5rem; max-width:5rem;" pFrozenColumn alignFrozen="left"> #ID </th>
                    <th style="min-width:14rem; max-width:14rem"> Tên hợp đồng </th>
                    <th style="min-width:14rem; max-width:14rem"> Loại hợp đồng </th>
                    <th style="min-width:10rem;"> Nguồn mẫu HĐ</th>
                    <th style="min-width:20rem;"> Cấu trúc mã sử dụng </th>
                    <th style="min-width:20rem;"> Chính sách </th>
                    <th style="min-width:7rem; max-width:7rem" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> Trạng thái </th>
                    <th style="min-width: 3rem; max-width:3rem; justify-content: center;" class="b-border-frozen-right" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr>
                    <td style="min-width:5rem; max-width:5rem;" pFrozenColumn alignFrozen="left" > {{ row.id }} </td>
                    <td style="min-width:14rem; max-width:14rem" > {{ row?.contractTemplateTempName ?? row?.distributionPolicyName }} </td>
                    <td style="min-width:14rem; max-width:14rem"> {{ SampleContractConst.getContractType(row?.rstContractTemplateTemp?.contractType)}} </td>
                    <td style="min-width:10rem;"> {{ row?.partnerId  ? 'Đối tác' : 'Đại lý' }} </td>
                    <td style="min-width:20rem;"> {{ genContractCodeStructure(row?.configContractCodes) }} </td>
                    <td style="min-width:20rem;"> {{ row?.distributionPolicyName }} </td>
                    <td style="min-width:7rem; max-width:7rem" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
                        <p-tag 
                            styleClass="p-tag-{{ ContractFormConst.getStatusInfo(row.status, 'severity') }}"
                            severity="{{ ContractFormConst.getStatusInfo(row.status, 'severity') }}"
                            value="{{ ContractFormConst.getStatusInfo(row.status, 'name') }}">
                        </p-tag>
                    </td>
                    <td style="min-width: 3rem; max-width:3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right">
                        <div class="flex" *ngIf="actions[rowIndex]?.length">
                            <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                            <p-menu 
                                #menu [popup]="true" class="button-actions" [model]="actions[rowIndex]"
                                appendTo="body">
                            </p-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Không có dữ liệu.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7"> Đang tải dữ liệu ... </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            [rows]="page.pageSize" 
            [totalRecords]="page.totalItems" 
            [rowsPerPageOptions]="page.perPageOptions" 
            currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng" 
            showCurrentPageReport="true"
            (onPageChange)="setPage($event)">
        </p-paginator>
    </div>
</div>
