<!-- #region filter -->
<ng-container *ngIf="floatLabel">
  <span class="p-float-label b-custom w-full">
    <p-calendar
      [showButtonBar]="showButtonBar"
      [dateFormat]="'dd/mm/yy'"
      [style]="{ width: widthInput }"
      locale="vi"
      appendTo="body"
      utc="true"
      [(ngModel)]="ngModelValue"
      [readonlyInput]="readonlyInput"
      [placeholder]="placeholder"
      [showIcon]="showIcon"
      (onClearClick)="handleClearClick($event)"
      (onSelect)="handleSelect($event)"
      [timeOnly]="timeOnly"
    >
    </p-calendar>
    <label class="font-normal" *ngIf="showLabel">{{ label }}</label>
  </span>
</ng-container>
<!-- #endregion -->

<!-- #region form -->
<ng-container *ngIf="!floatLabel">
  <div [ngClass]="'field' + classContainer">
    <label [ngClass]="'title-info' + classLabel" *ngIf="showLabel">
      {{ label }}
      <span class="required-field" *ngIf="isRequired"> * </span></label
    >
    <p-calendar
      locale="vi"
      appendTo="body"
      utc="true"
      [dateFormat]="'dd/mm/yy'"
      class="b-disabled"
      [showTime]="showTime"
      [placeholder]="placeholder"
      [(ngModel)]="ngModelValue"
      [readonlyInput]="readonlyInput"
      (onSelect)="handleSelect($event)"
      (onInput)="handleInput($event)"
      [showIcon]="showIcon"
      [disabled]="isDisabled"
      [timeOnly]="timeOnly"
      [minDate]="minDate"
      [maxDate]="maxDate"
    >
    </p-calendar>
  </div>
</ng-container>
<!-- #endregion -->
