
<div *ngIf="isGranted([PermissionBondConst.BondHDPP_SoLenh_TTCT_LoiTuc_DanhSach])" class="grid ml-0 mr-0 mt-0">
    <div class="col-12">
        <div class="card pt-0">
            <p-table 
                #productBondInfoTable [value]="rows" 
                [loading]="isLoading" [rowHover]="true" [paginator]="false" responsiveLayout="scroll" dataKey="code"
                [scrollable]="true" scrollHeight="{{(screenHeight*0.56) + 'px'}}" styleClass="">
                <ng-template pTemplate="header">
					<tr>
					    <th style="min-width: 5rem; max-width: 5rem; justify-content: center;" pFrozenColumn alignFrozen="left"> STT</th>
                        <th style="min-width: 10rem;justify-content: center;"> Kỳ nhận </th>
                        <th style="min-width: 10rem;" class="justify-content-center"> Tỉ suất lợi tức </th>
                        <th style="min-width: 10rem; max-width: 10rem;justify-content: center;"> Ngày trả </th>
                        <th style="min-width: 12rem; max-width: 12rem;justify-content: center;"> Lợi tức </th>
                        <th style="min-width: 10rem; max-width: 10rem;justify-content: center;"> Thuế TN </th>
                        <th style="min-width: 12rem;justify-content: center;"> Tiền thực nhận </th>
                        <th style="min-width: 8rem;" class="justify-content-end"> Số ngày </th>
                        <th style="min-width: 10rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> Trạng thái </th>
					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-row let-index="rowIndex">
                    <tr>
                        <td style="min-width: 5rem; max-width: 5rem; justify-content: center;" pFrozenColumn alignFrozen="left"> {{ index + 1 }} </td>
                        <td style="min-width: 10rem;justify-content: center;"> {{ (index !== (rows?.length - 1)) ? 'Lợi tức kỳ ' + (index+1) : 'Lợi tức cuối kỳ' }} </td>
                        <td style="min-width: 10rem;" class="justify-content-center"> {{ utils.transformMoney(row?.profitRate*100) }}{{'%'}} </td>
                        <td style="min-width: 10rem; max-width: 10rem;justify-content: center;"> {{ row?.payDate | dateview }} </td>
                        <td style="min-width: 12rem;justify-content: center;" class="jb-cut-text-12"> {{ utils.transformMoney(row?.profit)  }} </td>
                        <td style="min-width: 10rem;justify-content: center;" class="b-cut-text-10"> {{ utils.transformMoney(row?.tax)  }} </td>
                        <td style="min-width: 12rem;justify-content: center;"> {{ utils.transformMoney(row?.actuallyProfit)  }} </td>
                        <td style="min-width: 8rem;" class="justify-content-end"> {{ utils.transformMoney(row?.numberOfDays) }} </td>
                        <td style="min-width: 10rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
                            {{ StatusCoupon.getName(row?.status) }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Không có dữ liệu.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="7"> Đang tải dữ liệu ... </td>
					</tr>
				</ng-template>
            </p-table>
        </div>
		<!-- THEM & SUA-->
    </div>
</div>


