<!-- <div class="flex flex-row flex-wrap mb-2">
    <span class="p-float-label b-custom flex mt-6">
        <p-dropdown id="ownerFilter" name="ownerFilter" [style]="{ width: '16.5rem' }" [showClear]="true" placeholder="Tất cả" 
                    [options]="ProjectMedia.types" optionLabel="name" optionValue="code"
                    [(ngModel)]="filters.position" (onChange)="changeFilter($event)">
        </p-dropdown>
        <label class="font-normal" for="ownerFilter"> Vị trí </label>
    </span>
    <span class="p-float-label b-custom b-ml-2 flex mt-6">
        <p-dropdown id="projectTypeFilter" name="projectTypeFilter" [style]="{ width: '16rem' }" [showClear]="true" placeholder="Tất cả" 
                    [options]="[]" optionLabel="name" optionValue="code"
                    [(ngModel)]="filters.status" (onChange)="changeFilter($event)">
        </p-dropdown>
        <label class="font-normal" for="projectTypeFilter"> Trạng thái </label>
    </span>
</div> -->
<p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
    <p-tabPanel [header]="'media'">
      <ng-template pTemplate="header">
        <span> Hình ảnh </span>
      </ng-template>
      <app-tab-product-media [productId]="productId"></app-tab-product-media>
    </p-tabPanel>
    <!-- <p-tabPanel [header]="'mediaGroup'">
      <ng-template pTemplate="header">
        <span> Nhóm hình ảnh </span>
      </ng-template>
      <app-tab-product-media-group [productId]="productId"></app-tab-product-media-group>
    </p-tabPanel> -->
  </p-tabView>