<div class="grid p-fluid">
    <!-- Thông tin dự án -->
    <ng-container *ngIf="type == 'projectInfo'">
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label> Chủ đầu tư </label>
                <p-dropdown 
                    (onChange)="changeData($event, 'chudautu')" [autoDisplayFirst]="false" class="b-disabled"
                    [options]="listOwner" optionLabel="name" optionValue="code" [(ngModel)]="dataInfo.ownerId"
                    placeholder="Chọn" [disabled]="true">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label> Tên Dự án </label>
                <input pInputText [value]="dataInfo?.name" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="field mb-0">
                <label> Mã dự án </label>
                <input pInputText [value]="dataInfo?.code" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="field mb-0">
                <label> Tổng mức đầu tư </label>
                <input pInputText [value]="formatCurrency(dataInfo?.totalInvestment)" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
    </ng-container>
    <!-- Thông tin phân phối sản phẩm -->
    <ng-container *ngIf="type == 'distributionProductInfo'">
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label> Đại lý phân phối </label>
                <input pInputText [value]="dataInfo?.tradingProviderName" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label> Dự án phân phối </label>
                <input pInputText [value]="dataInfo?.projectName" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="field mb-0">
                <label> Ngày phân phối </label>
                <input pInputText [value]="dataInfo?.startDate" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="field mb-0">
                <label> Ngày kết thúc </label>
                <input pInputText [value]="dataInfo?.endDate" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
    </ng-container>
    <!-- Thông tin mở bán -->
    <ng-container *ngIf="type == 'openSellInfo'">
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label> Dự án </label>
                <input pInputText [value]="dataInfo?.project?.name" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="field mb-0">
                <label> Ngày mở bán </label>
                <input pInputText [value]="dataInfo?.startDate" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="field mb-0">
                <label> Ngày kết thúc </label>
                <input pInputText [value]="dataInfo?.endDate" class="b-disabled" [disabled]="true"/>       
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field mb-0">
                <label> Thời gian giữ căn thanh toán cọc (phút) </label>
                <p-inputNumber 
                    [(ngModel)]="dataInfo.keepTime" suffix=" phút" [disabled]="true" class="b-disabled">
                </p-inputNumber>       
            </div>
        </div>
    </ng-container>
    <!--  -->
    <div class="col-12 md:col-12">
        <div class="field">
            <label> Ghi chú </label>
            <textarea pInputTextarea [(ngModel)]="dataRequest.requestNote"></textarea>         
        </div>
    </div>
</div>
<div class="p-dialog-footer e-custom-dialog-footer">
    <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
    <button pButton pRipple label="Đồng ý" icon="pi pi-check" class="p-button-text p-confirm-dialog-approve" [disabled]="submitted" (click)="accept()"></button>
</div>