.img-zone {
    border: 1px dashed #bbb;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    img {
        width: 100%;
    }
}
    

::ng-deep .content-view {
    border: 1px solid #eee;
    padding: 10px 10px 0 10px;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.content-view img {
    width: 100%;
}

::ng-deep .button-preview-content {
    button {
        width: auto !important;
    }
}

::ng-deep e-markdown-html {
    width: 100%;
}